<style>
    .measure-input{
        background:transparent url("${ctxPath}/static/images/ruler.gif") repeat-x scroll 0 bottom
    }
    .mutiUpload{
        max-width: 510px;
        height:auto;
        font-size: 18px;
        margin-left: 90px;
        margin-top: -10px;
    }
    .mutiUpload div{
        line-height: 1.8;
    }
    .mutiUpload p{
        font-size: 20px;
    }
    .bjui-pageContent{
        margin: 0 auto;
    }
</style>
<script type="text/javascript">

	 function thumb_upload_success(file, data) {
        var json = $.parseJSON(data)
        $(this).bjuiajax('ajaxDone', json)
        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
            $('#j_content_thumb').val(json.filename).trigger('validate')
            $('#j_custom_pic').val(json.filename)
            $('#j_custom_span_pic').html('<img src="'+ json.filename +'"  style="margin: 10px 0 0 0" WIDTH="200" HEIGHT="120"/>')
        }
    }
    //选择事件
    function P_NodeCheck(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId),
            nodes = zTree.getCheckedNodes(true)
        var ids = '', names = ''

        for (var i = 0; i < nodes.length; i++) {
            ids   += ','+ nodes[i].id
            names += ','+ nodes[i].name
        }
        if (ids.length > 0) {
            ids = ids.substr(1)
        }
        $("#permissionId").val(ids);
    }
    //单击事件
    function P_NodeClick(event, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj(treeId)

        zTree.checkNode(treeNode, !treeNode.checked, true, true)

        event.preventDefault()
    } 
    </script>
<div class="bjui-pageContent">
    <form method="post" action="${ctxPath}/cms/enterprise/update" id="j_client_form" data-toggle="validate" data-autorefresh="true" data-alertmsg="false">
        <input TYPE="hidden" name="id" value="${enterprise.id!}">
        <input TYPE="hidden" name="approveState" value="1">
        <table cellspacing="1" cellpadding="6" border="0" width="100%">
            <tbody>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">课程名称：</label>
                    <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmKcmc!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">单位名称：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmDwmc!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">单位性质：</label>
                    <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmDwxz!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">企业人数：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmQyrs!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">年营业额：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmNyye!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">总资产：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmZzc!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">所在地区：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmSzdq!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">所属行业：</label>
                    <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmSshy!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">办公电话：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmBgdh!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">传真：</label>
                     <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmCz!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">手机：</label>
                   <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmSj!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_speakName" class="control-label x85">邮箱：</label>
                    <input type="text" name="hdlb" id="hdlb" value="${zxbm.zxbmYx!,xss}"  style="width: 490px; margin-top:6px;"  readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- <div class="bjui-pageFooter">
    <ul>
        
        <li><button type="submit" class="btn-default"  data-icon="save">保存</button></li>
        <li><button onclick="del(this)" type="button" class="btn-close" data-icon="close">删除</button></li>
        <li><button type="submit" class="btn-default"  data-icon="save">更新</button></li>
       
    </ul>
</div> -->
<script>
    function del(obj) {
        $(obj).bjuiajax('doAjax', {url:'${ctxPath}/cms/live/delete?id=${live.id!}',confirmMsg:'确定要删除该行信息吗？'});
    }
</script>