<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的收藏</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet"  href="${resPath}/syrc-mobile/images/sy_sjhtml.css"/>
    <link rel="stylesheet" href="${resPath}/syrc-mobile/images/sy_sjbase.css"  />
    <link rel="stylesheet" href="${resPath}/syrc-mobile/images/list.css"  />
    <link rel="stylesheet" href="${resPath}/syrc-mobile/images/detail.css"  />
    <link rel="stylesheet" href="${resPath}/syrc-mobile/images/cover.css"  />
    <link rel="stylesheet" href="${resPath}/syrc-mobile/images/pop.css"  />
    <link rel="stylesheet" href="${resPath}/syrc-mobile/images/resume.css"  />
    <script src="${resPath}/syrc-mobile/images/jquery-2.1.1.min.js"></script>
    <script src="${resPath}/syrc-mobile/images/basic.js"></script>
    <script src="${resPath}/syrc-mobile/images/zepto.js"></script>
    <script type="text/javascript">
        var _tkd = _tkd || [];
        var $_CONFIG = {};
        $_CONFIG['domain'] = '//m.51job.com/';
        $_CONFIG['imgpath'] = '//img01.51jobcdn.com/im/m';
        $_CONFIG['jspath'] = '//js.51jobcdn.com/in/js/h5';
        $_CONFIG['template'] = 'resume/myresume';
        $_CONFIG['islogin'] = '1';
        $_CONFIG['jobarea'] = '030800';
        $_CONFIG['jobareaname'] = '东莞';
        $_CONFIG['ip'] = '36.48.27.149';
        $_CONFIG['guid'] = 'db7398e3a4d3205cf89c37f039c6005f';
    </script>
</head>
<body>
<div id="pageWp" class="bb" >
    <div id="pageTop" >
        <!--	top  头部  开始-->
        <div class="sy_header"><span class="location" onclick="shouye();"><font style="font-size: 0.6rem;color: #747474;font-weight: bold">返回首页</font></span> <img src="${resPath}/syrc-mobile/images/sy_sj_27.png" /> <span class="ss_dz"><a href="${ctxPath}/cms/resume/goGrzxForSj">个人中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="${ctxPath}/system/reception/logOut">退出</a></span>


        </div>
        <script>
            function shouye(){
                window.location.href="${ctxPath}/bcrc/4"
            }
        </script>
        <!--	top  头部  结束-->
        <!--简历nav 开始-->
        @includeFileTemplate("/www/syrc-mobile/include/grzx-meun.html",{"current":"index"}){}
        <!--简历nav 结束-->
    </div>
    <!--简历中间   开始-->
    <div id="pageContent">
        <div class="jl_con" id="rsm_397738433">
            <div class="fdi">
                @for(zxbm in model.list){
                <a  class="rj" href="${ctxPath}/ecZxbm/zxbm/detail/${zxbm.id}">
                    <div class="jname at">
                        <h3>${zxbm.qy_qymc!,xss}</h3>
                    </div>
                    <div class="gr_div">
                        <b>${zxbm.name!,xss}</b>
                        <b>
                            @if(zxbm.education=='0'){
                                高中
                            @}else if(zxbm.education=='1'){
                                大专
                            @}else if(zxbm.education=='2'){
                                本科
                            @}
                        </b>
                        <b>${zxbm.tel}</b>
                    </div>
                </a>
                @}
            </div>
        </div>
    </div>
    <!--简历中间   结束-->
    <!--底部导航  开始-->
    <div id="pageFooter">
    </div>
    <!--底部导航  结束-->
</div>
<script type="text/javascript" src="${resPath}/syrc-mobile/images/base.js"></script>
<script type="text/javascript" src="${resPath}/syrc-mobile/images/swiper.min.js"></script>
<script type="text/javascript" src="${resPath}/syrc-mobile/images/fun.js"></script>
<script type="text/javascript" src="${resPath}/syrc-mobile/images/d_jobarea.js"></script>
<script type="text/javascript" src="${resPath}/syrc-mobile/images/popjobarea.js"></script>
<script type="text/javascript" src="${resPath}/syrc-mobile/images/resume.js"></script>
<script type="text/javascript">
    var time        = '1572657494575';
    var pagecode    = '30199';
    var cusParam    = "116425202951job_msem_baidupz_570m.51job.com";
    var param   = 'VerType=3&webId=2&logTime=' + time + '&ip=' + $_CONFIG['ip'] + '&guid=db7398e3a4d3205cf89c37f039c6005f&domain=m.51job.com&pageCode=' + pagecode + '&cusParam=' + cusParam;

</script>
<div id="shadow" style="display:none"></div>
</body>
</html>
