<!doctype html>
<html>

@includeFileTemplate("/www/syrc-mobile/include/gjrc-header.html",{"current":"index"}){}
<body style=" overflow-y:auto;">
<div id="pageWp" class="bb">
<div id="pageTop" > 
  <!--	top  头部  开始-->
  <div class="sy_header">

@includeFileTemplate("/www/syrc-mobile/include/gjrc-title.html",{"current":"index"}){}
  <!--	top  头部  结束--> 
   <!--简历nav 开始-->
  <div class="jl_nav gjrcnav"> 
      <a class="fl" href="${frontPath!}/4/1009.html">高级人才首页</a> 
      <a class="hea_xl fr"></a>
      <!--下拉-->
     @includeFileTemplate("/www/syrc-mobile/include/gjrc-ul.html",{"current":"index"}){}
        <!--下拉 end-->
  </div>
  <div class="clear"></div>
  <!--简历nav 结束-->
</div>
  <div id="pageContent">
  
    <div class="mod">
      <div class="t t2">${category.categoryName!}</div>
      <div class="new_l" value="397738433"> 
      
          <div class="news_cont">
            <p class="sy_wz">
            　　  ${category.content!}
            </p>
        </div>
          
          
      </div>
    </div>
    
    
    
  </div>
</div>
<!--footer 开始-->
	 @includeFileTemplate("/www/syrc-mobile/include/gjrc-footer.html",{"current":"index"}){}
	
		
</body>
</html>
