<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>${siteTitle!}</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet"  href="${resPath}/syrc-mobile/images/sy_sjhtml.css"/>
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/sy_sjbase.css"  />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/cover.css"  />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/pop.css"  />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/list.css"  />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/detail.css"  />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/resume.css"  />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/syrc-gjrc.css"  />
<script src="${resPath}/syrc-mobile/images/jquery-2.1.1.min.js"></script>
<script src="${resPath}/syrc-mobile/images/zepto.js"></script>
<script src="${resPath}/syrc-mobile/images/syrc-base.js"></script>
<script type="text/javascript">
	var _tkd = _tkd || [];
	var $_CONFIG = {};
		$_CONFIG['domain'] = '//m.51job.com/';
		$_CONFIG['imgpath'] = '//img01.51jobcdn.com/im/m';
		$_CONFIG['jspath'] = '//js.51jobcdn.com/in/js/h5';
		$_CONFIG['template'] = 'resume/myresume';
		$_CONFIG['islogin'] = '1';
		$_CONFIG['jobarea'] = '030800';
		$_CONFIG['jobareaname'] = '东莞';
		$_CONFIG['ip'] = '36.48.27.149';
		$_CONFIG['guid'] = 'db7398e3a4d3205cf89c37f039c6005f';
</script>
</head>
<style>
    .fy .pag li a {width: auto;float: none;color: #333;}
    .fy .pag {
        text-align: center;
        height: 20px;
        line-height: 20px;
        clear: both;
        float: none;
        padding: 0px;
    }
    .fy .pag li {
        text-align: center;
        margin: 0px 2px;
        padding: 0px 8px;
        height: 20px;
        line-height: 20px;
        text-decoration: none;
        display: inline-block;
        border: 1px solid #318ddc;
        width: auto;
    }
    .fy .pag .current {
       background-color: #318ddc;
    }
</style>

<body style=" overflow-y:auto;">
<div id="pageWp" class="bb">
<div id="pageTop" > 
  <!--	top  头部  开始-->
  <div class="sy_header">

@includeFileTemplate("/www/syrc-mobile/include/gjrc-title.html",{"current":"index"}){}

  <!--	top  头部  结束--> 
   <!--简历nav 开始-->
  <div class="jl_nav gjrcnav"> 
     <a class="fl" href="${frontPath!}/4/1009.html">高级人才首页</a> 
      <a class="hea_xl fr"></a>
      
      <!--下拉-->
    
@includeFileTemplate("/www/syrc-mobile/include/gjrc-ul.html",{"current":"index"}){}
        <!--下拉 end-->
  </div>
  <div class="clear"></div>
  
</div>
<div id="pageContent">
 <#cms_category_list  siteId="4" categoryId="1009" isNav="0" var="bean">
   @if(bean.categoryId==1012){
    <div class="mod">
      <div class="t t2">${bean.categoryName!}</div>
      <div class="aox">
        <article> 
        	${strutil.length(bean.content!)>60?strutil.subStringTo(bean.content!,0,60)+"...":bean.content!}
            <a class="more fr" href="${bean.url!}">更多>></a>
		</article>
     
      </div>
    </div>
    
    
     @}else if(bean.categoryId==1013){
    <div class="mod">
      <div class="t t2">${bean.categoryName!}</div>
      <div class="aox">
        <article> 
        	${strutil.length(bean.content!)>60?strutil.subStringTo(bean.content!,0,60)+"...":bean.content!}
            <a class="more fr" href="${bean.url!}">更多>></a>
		</article>
     
      </div>
    </div>
         @   }
          </#cms_category_list>
    
    
    <div class="mod">
      <div class="t t2">中高级招聘会</div>
      <div class="new_l" value="397738433"> 
          
            <#cms_content_list siteId="${site.siteId}" categoryId="1011" orderBy="2" isHot="0" hasChild="1" isRecommend="0" size="6" titleLen="20" var="bean">
          <div  class="e" onclick="window.location.href='${bean.url}'">
            <div class="ms">
                <strong>大型现场招聘会</strong>
                <b>
                   	 <span>${bean.title!}</span>
                    <aside>${bean.inputdate,dateFormat="YYYY年MM月dd日"}</aside>
                </b>
            </div>
          </div> 
               </#cms_content_list>
     
          
        </div>
             <div id="fy" name="fy" class="fy">
        <ul class="pag">
            <#cms_pagination siteId="${site.siteId}" categoryId="${category.categoryId}" page="${page}" moreNum="6"  var="page" >
            <li>${page.first}</li>
            @for(change in page.changePage){
            @if(!change.isLink){
            @if(change.isMore){
            <li>${change.value!}</li>
            @}else{
            <li class="current">${change.value!}</li>
            @}
            @}else{
            <li> ${change.url!}</li>
            @}
            @}
            <li>${page.next}</li>
        </#cms_pagination>
        </ul>
    </div>
    </div>
    
    
    @includeFileTemplate("/www/syrc-mobile/include/gjrc-footer.html",{"current":"index"}){}
    
  </div>
</div>


	
		
</body>
</html>
