<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Expires" content="0" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>${siteTitle!}</title>
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-index.css">
    <script type="text/javascript" src="${resPath}/bcrc-mobile/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript"  src="${resPath}/bcrc-mobile/js/TL_PC_Slider.js"></script>
    <script type="text/javascript"  src="${resPath}/bcrc-mobile/js/TL_Tab.js"></script>
</head>



<body>
@includeFileTemplate("/www/syrc-mobile/include/header.html",{"current":"index"}){}




<!--内容开始-->
<div class="wz_cont">
    <!--重要通知-->
    <div class="notice">
        <#cms_content_list siteId="${site.siteId}" categoryId="1045" orderBy="2" isHot="0" hasChild="1" isRecommend="0" size="1" titleLen="50" var="bean">
        <h1><a href="${bean.url!}">${bean.title!}</a></h1>
    </#cms_content_list>
    </div>
    <div class="clear"></div>
    <!--新闻登录-->
    <div class="news_login">
        <div class="news_left">
            <!--*****图片轮播开始*****-->
            <div class="ly_01_01 fl">
                <div class="ly_01_01_box">
                    <a class="df_prev" href="javascript:void(0)"></a>
                    <a class="df_next" href="javascript:void(0)"></a>
                    <h6></h6>
                    <ol></ol>
                    <ul>
                        <#cms_content_list siteId="${site.siteId}" categoryId="1041" orderBy="2" isHot="0" hasChild="1" isRecommend="0" titleLen="10" size="4"  var="bean">
                        <li>
                            <p><a href="${bean.url!}"><img src="${bean.thumb!}" /></a></p>
                            <h3><a href="${bean.url!}">${bean.title!}</a></h3>
                        </li>
                    </#cms_content_list>
                    </ul>
                    <script type="text/javascript">
                        $(function(){
                            $(".ly_01_01").TL_PC_Slider({
                                tab : ".ly_01_01_box ol",
                                box : ".ly_01_01_box ul",
                                type : "TL_Display",
                                auto_play: true,
                                page: true,
                                actions: "tl_hover",//tl_click 点击发生
                                timer: 800,//持续时间
                                speed: 3000
                            });
                        });
                    </script>
                </div>
            </div>
            <!--*****图片轮播结束*****-->
            <div class="jy_news">
                <div class="all_title"><a href="${frontPath!}/${site.siteId!}/1042.html"><span>就业动态</span></a></div>
                <ul class="all_list">
                    <#cms_content_list siteId="${site.siteId}" categoryId="1042" orderBy="2" isHot="0" hasChild="1" isRecommend="0" titleLen="50" size="6"  var="bean">
                    <li> <a  href="${bean.url!}">${bean.title!}</a><em>${bean.inputdate,dateFormat="YYYY年MM月dd日"}</em></li>
                </#cms_content_list>
                </ul>
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <!--*****专题轮播开始*****-->
    <div class="ztzl">
        <div class="ztzl_box">
            <a class="df_prev" href="javascript:void(0)"></a>
            <a class="df_next" href="javascript:void(0)"></a>
            <ol></ol>
            <ul>
                <li>
                    <p><a href="https://www.jlrc.com.cn/ww/wwbaindexhz.html"><img src="${resPath}/bcrc-mobile/images/bcrc-index_35.png" /></a></p>
                </li>
                <li>
                    <p><a href="${frontPath!}/4/1045.html"><img src="${resPath}/bcrc/images/wwbaindex.jpg" /></a></p>
                </li>
            </ul>
            <script type="text/javascript">
                $(function(){
                    $(".ztzl").TL_PC_Slider({
                        tab : ".ztzl_box ol",
                        box : ".ztzl_box ul",
                        type : "TL_Display",
                        auto_play: true,
                        page: true,
                        actions: "tl_hover",//tl_click 点击发生
                        timer: 800,//持续时间
                        speed: 3000
                    });
                });
            </script>
        </div>
    </div>
    <!--*****专题轮播结束*****-->
    <div class="listbig">
        <!--登录选项卡开始-->
        <div class="news_tab">
            <div class="news_tab_title"> <a href="${frontPath!}/${site.siteId!}/1043.html"><span>政策法规</span></a> <a href="${frontPath!}/${site.siteId!}/1044.html"><span>活动专区</span></a></div>
            <div class="clear"></div>
            <div class="news_tab_cont">
                <ul class="all_list">
                    <#cms_content_list siteId="${site.siteId}" categoryId="1043" orderBy="2" isHot="0" hasChild="1" isRecommend="0" titleLen="50" size="6"  var="bean">
                    <li> <a  href="${bean.url!}">${bean.title!}</a><em>${bean.inputdate,dateFormat="YYYY年MM月dd日"}</em></li>
                </#cms_content_list>
                </ul>
            </div>
            <div class="news_tab_cont">
                <ul class="all_list">
                    <#cms_content_list siteId="${site.siteId}" categoryId="1044" orderBy="2" isHot="0" hasChild="1" isRecommend="0" titleLen="50" size="6"  var="bean">
                    <li> <a  href="${bean.url!}">${bean.title!}</a><em>${bean.inputdate,dateFormat="YYYY年MM月dd日"}</em></li>
                </#cms_content_list>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $(this).TL_Tab ({
                    tab : ".news_tab .news_tab_title a",
                    box : ".news_tab_cont",
                    events : "over",// over
                    num : 1,
                    speed : 10
                });
            });
        </script>
        <!--登录选项卡开始-->
        <div class="news_tab_01">
            <div class="news_tab_title_01"> <a href="${frontPath!}/${site.siteId!}/1056.html"><span>校园信息</span></a> <a href="${frontPath!}/${site.siteId!}/1049.html"><span>创业政策</span></a></div>
            <div class="clear"></div>
            <div class="news_tab_cont_01">
                <ul class="all_list">
                    <#cms_content_list siteId="${site.siteId}" categoryId="1056" orderBy="2" isHot="0" hasChild="1" isRecommend="0" titleLen="50" size="6"  var="bean">
                    <li> <a  href="${bean.url!}">${bean.title!}</a><em>${bean.inputdate,dateFormat="YYYY年MM月dd日"}</em></li>
                </#cms_content_list>
                </ul>
            </div>
            <div class="news_tab_cont_01">
                <ul class="all_list">
                    <#cms_content_list siteId="${site.siteId}" categoryId="1049" orderBy="2" isHot="0" hasChild="1" isRecommend="0" titleLen="50" size="6" var="bean">
                    <li> <a  href="${bean.url!}">${bean.title!}</a><em>${bean.inputdate,dateFormat="YYYY年MM月dd日"}</em></li>
                </#cms_content_list>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $(this).TL_Tab ({
                    tab : ".news_tab_01 .news_tab_title_01 a",
                    box : ".news_tab_cont_01",
                    events : "over",// over
                    num : 1,
                    speed : 10
                });
            });
        </script>
    </div>
    <div class="clear"></div>
    <!--招聘信息-->
    <div class="zpxx">
        <div class="zpxx_title">
            <div class="zpxx_title_in"><i></i><span>招聘信息</span><i></i></div>
            <a href="${ctxPath}/gjss/selectExample?mc=&zw_gzxz=0">更多+</a>
        </div>
        <div class="clear"></div>
        <ul class="zpgw">
            <#gw_info_list  size="12"  var="bean" gzxz="0">
            <li>
                <a href="${ctxPath}/qyzx/qyXq?qy_id=${bean.qy_id!}">
                    <span>${strutil.length(bean.zw_zwmc!)>15?strutil.subStringTo(bean.zw_zwmc!,0,15)+"...":bean.zw_zwmc!}</span>
                    <em>
                        @if(bean.zw_yxfw==0){
                        1000元以下
                        @}else if(bean.zw_yxfw==1){
                        1000-2000元
                        @}else if(bean.zw_yxfw==2){
                        2000-4000元
                        @}else if(bean.zw_yxfw==3){
                        4000-6000元
                        @}else if(bean.zw_yxfw==4){
                        6000-8000元
                        @}else if(bean.zw_yxfw==5){
                        8000-1000元
                        @}else if(bean.zw_yxfw==6){
                        10000-15000元
                        @}else if(bean.zw_yxfw==7){
                        15000-20000元
                        @}else if(bean.zw_yxfw==8){
                        20000-30000元
                        @}else if(bean.zw_yxfw==9){
                        30000-50000元
                        @}else if(bean.zw_yxfw==10){
                        50000-50000元
                        @}else if(bean.zw_yxfw==11){
                        70000-100000元
                        @}else if(bean.zw_yxfw==12){
                        100000元以上
                        @}
                    </em>
                    <div class="clear"></div>
                    <p>${bean.qy_qymc!}</p>
                    <i>${bean.qy_xxdz!}</i>
                </a>
                <div class="clear"></div>
            </li>
        </#gw_info_list>
        </ul>
    </div>
    <div class="clear"></div>
<!--招聘信息-->
<div class="zpxx">
    <a href="${frontPath!}/4/1080.html"><img src="${resPath}/bcrc/images/bwjxgwjy.jpg" style="width:100%; height:auto;"/></a>
    <!--<div class="zpxx_title">
        <div class="zpxx_title_in"><i></i><span style="width: 188px;padding: 0px 0 10px 0;line-height: 25px;">就业见习岗位信息发布见习人员招募</span><i></i></div>
        <a href="${ctxPath}/gjss/selectExample?mc=&zw_gzxz=3">更多+</a>
    </div>
    <div class="clear"></div>
    <ul class="zpgw">
        <#gw_info_list  size="12"  var="bean"  gzxz="3">
        <li>
            <a href="${ctxPath}/qyzx/qyXq?qy_id=${bean.qy_id!}">
                <span>${strutil.length(bean.zw_zwmc!)>15?strutil.subStringTo(bean.zw_zwmc!,0,15)+"...":bean.zw_zwmc!}</span>
                <em>
                    @if(bean.zw_yxfw==0){
                    1000元以下
                    @}else if(bean.zw_yxfw==1){
                    1000-2000元
                    @}else if(bean.zw_yxfw==2){
                    2000-4000元
                    @}else if(bean.zw_yxfw==3){
                    4000-6000元
                    @}else if(bean.zw_yxfw==4){
                    6000-8000元
                    @}else if(bean.zw_yxfw==5){
                    8000-1000元
                    @}else if(bean.zw_yxfw==6){
                    10000-15000元
                    @}else if(bean.zw_yxfw==7){
                    15000-20000元
                    @}else if(bean.zw_yxfw==8){
                    20000-30000元
                    @}else if(bean.zw_yxfw==9){
                    30000-50000元
                    @}else if(bean.zw_yxfw==10){
                    50000-50000元
                    @}else if(bean.zw_yxfw==11){
                    70000-100000元
                    @}else if(bean.zw_yxfw==12){
                    100000元以上
                    @}
                </em>
                <div class="clear"></div>
                <p>${bean.qy_qymc!}</p>
                <i>${bean.qy_xxdz!}</i>
            </a>
            <div class="clear"></div>
        </li>
    </#gw_info_list>
    </ul>-->
</div>
<div class="clear"></div>
    <!--求职信息-->
    <div class="zpxx">
        <div class="zpxx_title">
            <div class="zpxx_title_in"><i></i><span>求职信息</span><i></i></div>
            <a href="${ctxPath}/qyzx/searchTalents">更多+</a>
        </div>
        <div class="clear"></div>
        <ul class="zpgw qzxx">
            <#zw_td_list size="12"  var="bean" titleLen="50">
            <li>
                <!--<a href="${ctxPath}/cms/resume/yljlforqy?tdjlId=${bean.JIANLI_ID}&id=${bean.JL_BB_ID}&zh_id=${bean.ZH_ID}">-->
                <a href="${ctxPath}/cms/resume/previewResume?id=${bean.JL_BB_ID}&zh_id=${bean.ZH_ID}">
                    <span>${bean.JIANLI_XM!}</span>
                    @if(isNotEmpty(bean.JYJL_XL) && bean.JYJL_XL !="null"){
                    <em>${bean.JYJL_XL}</em>
                    @}else{
                    <em></em>
                    @}
                    @if(bean.JIANLI_XB=="0"){
                    <em>男</em>
                    @}else{
                    <em>女</em>
                    @}
                    <div class="clear"></div>
                    <p>${bean.JYJL_ZY!}</p>
                    <i>${bean.JL_BB_TIME!}</i>
                </a>
                <div class="clear"></div>
            </li>
        </#zw_td_list>
        </ul>
    </div>
    <div class="clear"></div>
    <!--相关链接-->
    @includeFileTemplate("/www/syrc-mobile/include/link.html",{"current":"index"}){}
</div>
<!--内容结束-->
@includeFileTemplate("/www/syrc-mobile/include/footer.html",{"current":"index"}){}

</body>
</html>
