<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${siteTitle!}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no,uc-fitscreen=yes">
	<link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/ly_html.css">
	<link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-body.css">
	<link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-page.css">
	<script type="text/javascript" language="javascript" src="${resPath}/bcrc-mobile/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" language="javascript" src="${resPath}/bcrc-mobile/js/TL_PC_Slider.js"></script>
	<script type="text/javascript" language="javascript" src="${resPath}/bcrc-mobile/js/TL_Tab.js"></script>
</head>

<body >
@includeFileTemplate("/www/syrc-mobile/include/qyzx-header.html",{"current":"index"}){}
<!--内容开始-->
<div class="wz_cont grzx_in">
	<div  class="wz_cont_in">
		<div class="touxiangbox">
			<div class="touxiang">
				@if(jlinfo.jianliXb==0){
				@if(isEmpty(jlinfo.jianliTx) || jlinfo.jianliTx=="null"){
				<img src="${resPath}/bcrc/images/man.png" width="68" height="83" alt="头像">
				@}else{
				<img src="${jlinfo.jianliTx!}" width="68" height="83" alt="头像">

				@ }
				@}else if(jlinfo.jianliXb==1){
				@if(isEmpty(jlinfo.jianliTx) || jlinfo.jianliTx=="null"){
				<img src="${resPath}/bcrc/images/woman.png" width="68" height="83" alt="头像">
				@}else{
				<img src="${jlinfo.jianliTx!}" width="68" height="83" alt="头像">

				@ }
				@}else{
				@if(isEmpty(jlinfo.jianliTx) || jlinfo.jianliTx=="null"){
				<img src="${resPath}/bcrc/images/woman.png" width="68" height="83" alt="头像">
				@}else{
				<img src="${jlinfo.jianliTx!}" width="68" height="83" alt="头像">

				@ }
				@}

				<span>${jlinfo.jianliXm}</span>
			</div>

			<div class="con_left">
				<p><span>${jlinfo.jianliJzd}</span>&nbsp;|&nbsp;<span>${jlinfo.jianliCsrq}</span>&nbsp;|&nbsp;<span>${jlinfo.jianliKsgz}</span></p>
				<ul class="left_nav">
					<li><a class=" jlzx" href="${ctxPath}/cms/resume/findUserResume">查看简历</a></li>
					<li><a class="wdsc" href="${ctxPath}/cms/resume/findWdscList">我的收藏</a></li>
					<li><a class="wdsq" href="${ctxPath}/cms/resume/findWdsqList">我的申请</a></li>
					<li><a class="skgw" href="${ctxPath}/cms/resume/goToXgmm">修改密码</a></li>
					<li><a class="tcdl" href="${ctxPath}/system/reception/logOut">退出登录</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>
<!--内容结束-->
@includeFileTemplate("/www/syrc-mobile/include/footer.html",{"current":"index"}){}
</body>
</html>