<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>${siteTitle!}</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-page.css">
    <script type="text/javascript" src="${resPath}/bcrc-mobile/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc-mobile/js/TL_PC_Slider.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc-mobile/js/TL_Tab.js"></script>

</head>

<body >
@includeFileTemplate("/www/syrc-mobile/include/header.html",{"current":"index"}){}
<!--内容开始-->
<div class="wz_cont">
    <div  class="wz_cont_in">
        <div class="dqwz">当前位置：<a href="${frontPath!}/4">首页</a>>>个人简历</div>

        <div class="jbox xebox">
            <div class="x">
                <div class="e e0">
                    <strong class="tit">基本信息</strong>
                </div>
                <p class="st head">
                    <span>${jlinfo.jianliXm!}</span>
                    <br>${jlinfo.jianliJzd!}  | @if(jlinfo.jianliXb!=null){
                    <script>document.write(dicContainer.getDicItemName('100',${jlinfo.jianliXb!}));</script>
                    @}

                    | ${jlinfo.jianliCsrq!} | ${jlinfo.jianliKsgz!}
                    @if(jlinfo.jianliTx!=null){
                    <img width="50" height="61" src="${jlinfo.jianliTx!}" alt="头像">
                    @}else{
                    <img width="50" height="61" src="${resPath}/syrc-mobile/images/man.png" alt="头像">
                    @ }
                </p>
                <p class="tx"><label>出生日期</label><span>${csrq!}</span></p>
                <p class="tx"><label>手机号</label>${jlinfo.jianliSj!}</p>
                <p class="tx"><label>求职状态</label>@if(jlinfo.jianliQzzt!=null){
                    <script>
                        document.write(dicContainer.getDicItemName('qzzt',${jlinfo.jianliQzzt!}));
                    </script>
                    @}
                </p>
                <p class="tx"><label>邮箱</label><span>${jlinfo.jianliYx!}</span></p>
                <p class="tx"><label>目前年收入</label><span>
                    @if(qzyx!=null&&qzyx.qzyxNsr!=null){
	${qzyx.qzyxNsr!}
@}
                    万元</span></p>
                <p class="tx"><label>国籍/户口</label><span>${jlinfo.jianliHk!}</span></p>
                <p class="tx"><label>婚姻状况</label><span><script> document.write(dicContainer.getDicItemName('hyzt', ${jlinfo.jianliHyzt!}));</script></span></p>
                <p class="tx"><label>政治面貌</label><span> <script> document.write(dicContainer.getDicItemName('106', ${jlinfo.jianliZzmm!}));</script></span></p>
            </div>
            <div class="x">
                <div class="e e1">
                    <strong class="tit">求职意向</strong>
                </div>
                <p class="tx"><label>到岗时间</label>
                    @if(isNotEmpty(qzyx.qzyxDgsj)){
                    <script>document.write(dicContainer.getDicItemName('dgsj', ${qzyx.qzyxGzlx!}));</script>
                    @}

                </p>
                <p class="tx"><label>工作性质</label>
                    @if(isNotEmpty(qzyx.qzyxGzlx)){
                    <script>document.write(dicContainer.getDicItemName('gzlx', ${qzyx.qzyxGzlx!}));</script>
                    @}
                </p>
                <p class="tx"><label>期望行业</label>${qzyx.qzyxHy!}</p>
                <p class="tx"><label>目标地点</label>${qzyx.qzyxDd!}</p>
                <p class="tx"><label>期望薪资</label>${qzyx.qzyxQwxz!}元</p>
                <p class="tx"><label>职能/职位</label>${qzyx.qzyxZn!}
                    <span class="tag">&nbsp;&nbsp;${qzyx.qzyxZw!}</span></p>
                <p class="tx"><label>自我评价</label><span><p style="white-space: pre;white-space: pre-line;word-wrap: break-word;" onchange="jiazai(this)">${qzyx.qzyxZwpj!}</p></span></p>
            </div>
            <div class="x x2">
                <div class="e e2">
                    <strong class="tit">工作经验</strong>
                </div>
                @if(isNotEmpty(gzjyLists)){
                @for(gzjy in gzjyLists){
                <div class="bn">
                    <p class="st">${gzjy.gzjyKssj!}~${gzjy.gzjyJssj!}</p>
                    <p class="st">${gzjy.gzjyGs!}</p>
                    <p class="st"><span>${gzjy.gzjyBm!}| ${gzjy.gzjyZn}</span></p>
                    <p class="tx2"><span>${gzjy.gzjyHy!}</span>
                        | <span>${gzjy.gzjyLzyy!}</span>
                        | <span>${gzjy.gzjyXsrs!}人</span></p>
                    <div class="tx2">
                        <label>工作描述</label><div><p style="white-space: pre;white-space: pre-line;word-wrap: break-word;" onchange="jiazai(this)">${gzjy.gzjyGzms!}</p></div>
                    </div>
                </div>
                @}
                @}
            </div>
            <div class="x x2">
                <div class="e e3">
                    <strong class="tit">教育经历</strong>
                </div>
                @if(isNotEmpty(jyjlLists)){
                @for(jyjl in jyjlLists){
                <div class="bn">
                    <p class="st">${jyjl.jyjlKssj!}~<span>${jyjl.jyjlJssj!}</span></p>
                    <p class="st"><span>${jyjl.jyjlXx!}</span></p>
                    <div class="tx2"><span><span>${jyjl.jyjlZy!}</span> | <span>${jyjl.Xl!}</span></span></div>
                    <div class="tx2">
                        <label>专业描述</label><div><p style="white-space: pre;white-space: pre-line;word-wrap: break-word;" onchange="jiazai(this)">${jyjl.jyjlZyms!}</p></div>
                    </div>
                </div>
                @}
                @}
            </div>
            <div class="x x2">
                <div class="e e6">
                    <strong class="tit">在校情况</strong>
                </div>
                <div class="bn">
                    <p class="st s2">校内荣誉</p>
                    @if(isNotEmpty(xnryList)){
                    @for(xnry  in   xnryList){
                    <p class="tx"><label style="color:#555;">${xnry.xnrySj!}</label><span>${xnry.xnryJx!}</span>
                        | <span>${xnry.xnryJb!}</span></p>
                    @}
                    @}
                </div>
                <div class="bn">
                    <p class="st s2">校内职务</p>
                    @if(isNotEmpty(xnzwList)){
                    @for(xnzw  in   xnzwList){
                    <p class="tx t2"><label>${xnzw.xnzwKssj!}~<span>${xnzw.xnzwJssj!}</span></label><span>${xnzw.xnzwZw!}</span></p>
                    <div class="tx2">
                        <label>职务描述</label><div><p style="white-space: pre;white-space: pre-line;word-wrap: break-word;" onchange="jiazai(this)">${xnzw.xnzwZwms!}</p></div>
                    </div>
                    @}
                    @}
                </div>
            </div>
            <div class="x">
                <div class="e e7">
                    <strong class="tit">技能特长</strong>
                </div>
                <p class="x_p" style="white-space: pre;white-space: pre-line;word-wrap: break-word;" onchange="jiazai(this)">${qzyx.qzyxJntc!}</p>

            </div>
        </div>

    </div>
</div>
<!--内容结束-->
@includeFileTemplate("/www/syrc-mobile/include/footer.html",{"current":"index"}){}
</body>
<script>
    function jiazai(org){
        var replaceRegex = /(\n\r|\r\n|\r|\n)/g;
        var text=$(org).text();
        text =text || '';
        text=text.replace(replaceRegex,'<br />');
        $(org).html(text);
    }
</script>
</html>
