<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>${siteTitle!}</title>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/ly_html.css">
	<link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-body.css">
	<link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-page.css">
<link rel="stylesheet"
	href="${resPath}/syrc-mobile/images/sy_sjhtml.css" />
<link rel="stylesheet"
	href="${resPath}/syrc-mobile/images/sy_sjbase.css" />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/cover.css" />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/pop.css" />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/search.css" />
<link rel="stylesheet" href="${resPath}/syrc-mobile/images/resume.css" />
<link rel="stylesheet"
	href="${resPath}/syrc-mobile/images/swiper.min.css" />
<script type="text/javascript"
	src="${resPath}/syrc-mobile/images/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
	src="${resPath}/syrc-mobile/images/basic.js"></script>
<script type="text/javascript"
	src="${resPath}/syrc-mobile/images/zepto.js"></script>
<script type="text/javascript">
function gzjyDel(dataID,jlBbId){
	if(confirm("确定删除该条工作经验么？")){
		$.ajax({
	      type: "POST",
	      async:false,
	      url: "deleteGzjyById",
	      data:{ids:dataID},
	      dataType: "json",
	      success: function(data){
	      	  window.location.href="${ctxPath}/cms/resume/findGzjyByJlbbId?jlBbId="+jlBbId;
		}});
	}
}
</script>
</head>
<body>
@includeFileTemplate("/www/syrc-mobile/include/qyzx-header.html",{"current":"index"}){}
<!--内容开始-->
<div class="wz_cont grzx_in">
	<div  class="wz_cont_in">
		<div class="touxiangbox">
			<div class="con_left">
				<div class="all_title"><a href="${ctxPath}/cms/resume/goEditResume?id=${session.jlbbIdSession}"><span>工作经验</span></a></div>

				<div id="pageContent" class="fixtop qzyx">

					<div class="rbox">
						@if(isNotEmpty(gzjyList)){
						@for(gzjy in gzjyList){
						<div class="e" id="workexp_302460225">
							<strong>${gzjy.gzjyGs!}</strong>
							<label>${gzjy.gzjyZn}</label>
							<i>${gzjy.gzjyKssj!}-${gzjy.gzjyJssj!}</i>
							<div class="tab">
								<a href="${ctxPath}/cms/resume/findGzjyByIdForSj?id=${gzjy.gzjyId!}"><center >编辑</center></a>
									<a href="javascript:void(0);" onclick="gzjyDel('${gzjy.gzjyId!}','${gzjy.jlBbId!}');"><center >删除</center></a>
							</div>
						</div>
						@}
						@}

					</div>
					@if(isNotEmpty(jlBbId)){
					<a id="addwork" href="${ctxPath}/cms/resume/addGzjyForSj?jlBbId=${jlBbId}" class="btn_add">+ 添加工作经验</a>
					@}else{
					<a id="addwork" href="${ctxPath}/cms/resume/addGzjyForSj" class="btn_add">+ 添加工作经验</a>
					@}
					<input type="hidden" id="userid" value="398719117">

				</div>



			</div>
		</div>
	</div>
</div>
<!--内容结束-->
@includeFileTemplate("/www/syrc-mobile/include/footer.html",{"current":"index"}){}

	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/base.js"></script>
	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/fun.js"></script>
	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/d_jobarea.js"></script>
	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/popjobarea.js"></script>
	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/resumecommon.js"></script>
	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/swiper.min.js"></script>
	<script type="text/javascript"
		src="${resPath}/syrc-mobile/images/school.js"></script>
	<div id="shadow" style="display:none"></div>
</body>
</html>