<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>${siteTitle!}</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc-mobile/css/bcrc-phone-page.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/myPagination.css">
    <script type="text/javascript"  src="${resPath}/bcrc-mobile/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc-mobile/js/TL_PC_Slider.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc-mobile/js/TL_Tab.js"></script>
    <script src="${resPath}/syrc/js/myPagination.js"></script>
</head>
<style>
    .fy .pag li a {width: auto;float: none;color: #333;}
    .fy .pag {
        text-align: center;
        height: 20px;
        line-height: 20px;
        clear: both;
        float: none;
        padding: 0px;
    }
    .fy .pag li {
        text-align: center;
        margin: 0px 2px;
        padding: 0px 8px;
        height: 20px;
        line-height: 20px;
        text-decoration: none;
        display: inline-block;
        border: 1px solid #318ddc;
        width: auto;
    }
    .fy .pag .current {
        background-color: #318ddc;
    }
</style>
<body >
@includeFileTemplate("/www/syrc-mobile/include/header.html",{"current":"index"}){}
<!--内容开始-->
<div class="wz_cont">
    <div  class="wz_cont_in">
        <div class="dqwz">当前位置：<a target="_blank" href="${frontPath!}/4">首页</a>>>站内搜索</div>
        <div class="all_title"><a><span>站内搜索</span></a></div>
        @for(content in list){
        <div class="serachcont" style="border-bottom: solid 1px #ccc;padding: 4% 0;">
            <h3><a href="${ctxPath}/system/reception/NoLoginSearchInTheStationNews?contentId=${content.contentId}" style="font-size: 1em;color: #333;line-height: 1.6em;">
                <i class="finKey" >${content.title}</i>
                <span style="font-size: .9em;color: #777;">${content.inputdate,dateFormat="YYYY年MM月dd日"}</span></a></h3>
        </div>
        @}
        <div id="pagination" class="pagination"></div>
        <script>

            var datatotal = '${total}';
            var pageAmount = '${pagesize}';
            var pagenum = '${pagenum}';

            pageTotal=Math.ceil(datatotal/pageAmount);

            if(pageTotal>5){
                pageSize=5
            }else{
                pageSize=pageTotal
            }

            window.onload = function () {
                new myPagination({
                    id: 'pagination',
                    curPage:pagenum, //初始页码
                    pageTotal: pageTotal, //总页数
                    pageAmount: pageAmount,  //每页多少条
                    dataTotal: datatotal, //总共多少条数据
                    getPage: function (page) {
                        window.location.href ='${ctxPath}/system/reception/NoLoginSearchInTheStation?pageNumber='+page+'&title=${title}';
                    }
                })

            }
        </script>
    </div>
</div>
<!--内容结束-->

@includeFileTemplate("/www/syrc-mobile/include/footer.html",{"current":"index"}){}
</body>
<script>
    $(function(){
        var keyword='${title}';
        if (keyword!=''){
            $(".finKey").each(function () {
                var str=$(this).text();
                var substr="/("+keyword+")/g";
                var replaceStr=str.replace(eval(substr),"<span style='color:red;'>"+keyword+"</span>")
                $(this).html(replaceStr);
            });
        }
    });
</script>
</html>
