@includeFileTemplate("/www/syrc-mobile/include/syyc-header.html"){}
  <div id="pageContent" style=" margin: -15px 0 0px 0 !important;">
  
    <div class="mod">
      <div class="new_l" value="397738433"> 
      
          <div class="news_cont">
          	<h2> ${content.title!} </h2>
          	<div class="news_xxly">
            	<span>发布时间：${content.inputdate,dateFormat="YYYY年MM月dd日"}</span> 信息来源：${content.author}<span></span>
            </div>
			<hr>
            <p class="sy_wz">
            　    ${content.content!}
            </p>
        </div>
          
          
      </div>
    </div>
    
    
    
  </div>
</div>
@includeFileTemplate("/www/syrc-mobile/include/syyc-footer.html"){}