@includeFileTemplate("/www/syrc-mobile/include/zypx-header.html"){}
  <div id="pageContent" style=" margin: -15px 0 0px 0 !important;">
  
    <div class="mod">
      <div class="new_l" value="397738433"> 
      
          <div class="news_cont">
          	<h2>${category.categoryName!}</h2>
            <p class="sy_wz">
            　  ${category.content!}
            </p>
        </div>
          
          
      </div>
    </div>
    
    
    
  </div>
</div>
@includeFileTemplate("/www/syrc-mobile/include/zypx-footer.html"){}