@includeFileTemplate("/www/syrc-mobile/include/zypx-header.html"){}
  <div id="pageContent" style=" margin: -15px 0 0px 0 !important;">
  
    <div class="mod">
      <div class="new_l" value="397738433"> 
      
          <div class="news_cont">
          	<h2>${content.title}</h2>
          	<div class="sywzy_xbt wxx_neirong_timecent"> 
         <center>  <span>发布时间：${content.inputdate,dateFormat="yyyy年MM月dd日"}</span> <span>信息来源：${content.author}</span></center>
           </div>
            <p class="sy_wz">
             ${content.content!}
            </p>
        </div>
          
          
      </div>
    </div>
    
    
    
  </div>
</div>
@includeFileTemplate("/www/syrc-mobile/include/zypx-footer.html"){}