<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${siteTitle!}</title>
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-page.css">
    <script src="${resPath}/bcrc/js/jquery-1.7.2.min.js"></script>
    <script src="${resPath}/bcrc/js/TL_Tab.js"></script>
    <script src="${resPath}/bcrc/js/TL_PC_Slider.js"></script>
</head>

<body>
<div class="contentbig">
    <!--头部开始-->
    @includeFileTemplate("/www/syrc/include/header.html",{"current":"index"}){}
    <!--头部结束-->
    <!--内容开始-->
    <div class="wz_cont">
        <div  class="wz_cont_in">
            <div class="dqwz">
                <#cms_site_pos  site="${site}" category="${category}"  var="bean">
                当前位置：
                ${bean.baseURL}
                >>
                @for(location in bean.locations){
                ${location.categoryName}
                @if(!locationLP.last){
                >>
                @}
                @}
            </#cms_site_pos>
        </div>
        <div class="sycon_bg">
            <div class="sycon_leftwh news_cont">
                <div class="news_title">
                    <h1 class="sywzy_h2">${category.categoryName}</h1>
                    <div class="wxx_neirong_times">
                        <div class="sywzy_xbt">

                            <em>字体：[
                                <a href="javascript:void(0)" class="icon_fb j-fontBig" title="字号大">大</a>
                                <a href="javascript:void(0)" class="icon_fm j-fontNormal active" title="字号中">中</a>
                                <a href="javascript:void(0)" class="icon_fs j-fontSmall" title="字号小">小</a>]
                            </em>

                        </div>
                    </div>
                </div>

                <div class="sy_wz">
                    <p>${category.content!}</p>
                </div>
            </div>
        </div>
        <script>
            $(function(){

                $(".icon_fb").on('click',function(){

                    $(".sy_wz p").css("font-size", "24px");

                });
                $(".icon_fm").on('click',function(){

                    $(".sy_wz p").css("font-size", "16px");

                });
                $(".icon_fs").on('click',function(){

                    $(".sy_wz p").css("font-size", "14px");

                });

            });


        </script>
    </div>
</div>
<!--内容结束-->
<!--底部开始-->
@includeFileTemplate("/www/syrc/include/footer.html",{"current":"index"}){}
<!--底部结束-->


</body>
</html>
