<!DOCTYPE html>
<html>
  <head>
    <title>${siteTitle!}</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    @if(msg!=null){
		<script type="text/javascript">
		var msg= "${msg}";
		if(msg=="激活成功 请等待管理员审批"){
		alert("${msg}");
		}
		else {
		alert(msg);
		}
		window.location = "${frontPath!}/4";
		</script>
    @}
  </body>
</html>
