<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${siteTitle!}</title>
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-page.css">
    <script src="${resPath}/syrc/js/jquery-1.7.2.min.js"></script>
    <script src="${resPath}/syrc/js/qyzx_js .js"></script>
    <script src="${resPath}/syrc/js/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc/js/TL_PC_Slider.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc/js/TL_Tab.js"></script>

    <!-- 职能-->
    <script src="${resPath}/bcrc/cssjs/position.data.min.js" type="text/javascript"></script>
    <script src="${resPath}/bcrc/cssjs/jquery.position.select.js" type="text/javascript"></script>
    <!--行业-->
    <script type="text/javascript" src="${resPath}/bcrc/cssjs/drag.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc/cssjs/funtype_arr.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc/cssjs/industry_arr.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc/cssjs/major_arr.js"></script>
</head>
<script>
    function result2(){
        $("#result2").positionSelect({
            containerId: "positionDiv",
            className: "big-window",
            nameId: "work_zn_input",
            required: true,
            maxCount: 5,
            onConfirm: null
        });
    }
</script>

<body onload="update();">
<div class="contentbig">
@includeFileTemplate("/www/syrc/include/header.html",{"current":"index"}){}
    <!--内容开始-->
    <div class="wz_cont">
        <div  class="wz_cont_in">
            <div class="dqwz">当前位置：<a href="${frontPath!}/4">首页</a>>>发布招聘信息</div>
            <div class=" clearfix">
                <div class="con_left fl">
                    <h4><img src="${resPath}/bcrc/images/qyzx_03.png"/></h4>
                    <ul class="left_nav">
                        @includeFileTemplate("/www/syrc/include/qyzx-eightOtherLeftMeun.html",{"current":"index"}){}
                    </ul>
                </div>
                <div class="con_right fr">
                    <!--简历中心   开始-->
                    <div class="all_title"><a><span>发布招聘信息</span></a></div>
                    <fieldset class="xzzw_div">
                        <legend>职位信息</legend>
                        <table class="jbxx_table">
                            <tr>
                                <td class="td_tit"><i class="red">*</i>职位名称：</td>
                                <td><input type="text"  placeholder="请输入职位名称" id="zw_zwmc" maxlength="19" value="${gw.zw_zwmc!}"/></td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>职能：</td>
                                <td>
                                    <div style="border: solid 1px #ccc;width: 89.5%;height: 30px;position: relative;">
                                   <!-- <input id="work_zn_input"  placeholder="填写/选择" name="zw_zwlb" class="ef cursor"
                                           value="${gw.zw_zwlb!}" type="text" style="float: left;width: 93%;border: none;"/>
                                    <input id="btn_IndustryID" type="button"  onclick="IndustrySelect('work_zn_input')" />-->
                                        <input id="work_zn_input"  placeholder="填写/选择" name="zw_zwlb" class="ef cursor"
                                               value="${gw.zw_zwlb!}" type="text" style="float: left;width: 93%;border: none;height: 28px;"/>
                                        <a id="result2"  href="javascript:void(0);" class="zwxz" onclick="result2()"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>工作性质：</td>
                                <td>
                                    <select id="zw_gzxz">
                                        <option value="0">全职</option>
                                        <option value="1">兼职</option>
                                        <option value="2">实习</option>
                                        <option value="3">就业见习人员</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>工作地址：</td>
                                <td>
                                    <input type="text" placeholder="请输入具体地址" id="zw_gzdz" maxlength="99" value="${gw.zw_gzdz!}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>月薪范围：</td>
                                <td>
                                    <select id="zw_yxfw">
                                        <option value="0">1000元以下</option>
                                        <option value="1">1000-2000元</option>
                                        <option value="2">2000-4000元</option>
                                        <option value="3">4000-6000元</option>
                                        <option value="4">6000-8000元</option>
                                        <option value="5">8000-10000元</option>
                                        <option value="6">10000-15000元</option>
                                        <option value="7">15000-20000元</option>
                                        <option value="8">20000-30000元</option>
                                        <option value="9">30000-50000元</option>
                                        <option value="10">50000-50000元</option>
                                        <option value="11">70000-100000元</option>
                                        <option value="12">100000元以上</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>最低学历：</td>
                                <td>
                                    <select id="zw_zdxl">
                                        <option value="0">学历不限</option>
                                        <option value="1">本科</option>
                                        <option value="2">硕士</option>
                                        <option value="3">博士</option>
                                        <option value="4">大专</option>
                                        <option value="5">中技</option>
                                        <option value="6">中专</option>
                                        <option value="8">高中</option>
                                        <option value="7">高中以下</option>
                                    </select>
                                </td>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>工作年限：</td>
                                <td>
                                    <select id="zw_gznx">
                                        <option value="0">经验不限</option>
                                        <option value="1">无经验</option>
                                        <option value="2">1年以下</option>
                                        <option value="3">1-3年</option>
                                        <option value="4">3-5年</option>
                                        <option value="5">5-10年</option>
                                        <option value="6">10年以上</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red"></i>职位描述：</td>
                                <td> <textarea id="zw_zwms" maxlength="1800">${gw.zw_zwms!}</textarea></td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>技能要求：</td>
                                <td><input type="text" placeholder="请输入技能要求" id="zw_jnyq" maxlength="99" value="${gw.zw_jnyq!}"/></td>
                            </tr>
                            <tr>
                                <td class="td_tit"><i class="red"></i>职位亮点：</td>
                                <td id="check">
                                    <label><input type="checkbox" id="zw_zwld" name="zw_zwld" value="1"/>五险一金</label>
                                    <label><input type="checkbox" id="zw_zwld" name="zw_zwld" value="2"/>节日福利</label>
                                    <label><input type="checkbox" id="zw_zwld" name="zw_zwld" value="3"/>带薪年假</label>
                                    <label><input type="checkbox" id="zw_zwld" name="zw_zwld" value="4"/>现金补贴</label>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset class="xzzw_div">
                        <legend>职位设置</legend>
                        <table class="jbxx_table">
                            <tr>
                                <td class="td_tit"><i class="red">*</i>招聘人数：</td>
                                <td><input type="text" placeholder="请输入招聘人数" id="zw_zprs" maxlength="9" value="${gw.zw_zprs!}"/></td>
                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>发布日期：</td>
                                @if(isEmpty(gw.zw_fbsc)){
                                <td><input type="text" name="zw_fbsc"  readonly="readonly"     id="zw_fbsc" value=""/></td>
                                @}else{
                                <td><input type="text" name="zw_fbsc"  readonly="readonly"     id="zw_fbsc" value="${strutil.subStringTo(gw.zw_fbsc!,0,10)}"/></td>
                                @}

                            </tr>
                            <tr>
                                <td class="td_tit" valign="top"><i class="red">*</i>所属部门：</td>
                                <td><input type="text"placeholder="请输入所属部门" id="zw_ssbm" maxlength="19" value="${gw.zw_ssbm!}"/></td>
                            </tr>
                        </table>
                    </fieldset>
                    <a class="qr_btn" onclick="submit();">保存</a>

                </div>
            </div>
        </div>
    </div>
    <!--内容结束-->

@includeFileTemplate("/www/syrc/include/footer.html",{"current":"index"}){}
</div>

<input type="hidden" id="work_func">
<input type="hidden" id="count" value="5">
<!--遮盖层-->
<script type="text/javascript">
    $(function(){
        var myDate = new Date();
        var time = myDate.toLocaleDateString().split('/').join('-');//将1970/08/08转化成1970-08-08
        if(isNull($("#zw_fbsc").val())){
            $("#zw_fbsc").val(time);
        }
    });

    function isNull(str) {
        if (str == "")
            return true;
        var regu = "^[ ]+$";
        var re = new RegExp(regu);
        return re.test(str);
    }
    function submit() {
        var zw_zwmc = $('#zw_zwmc').val();
        var zw_zwlb = $('#work_zn_input').val();
        var zw_gzxz = $('#zw_gzxz').val();
        var zw_gzdz = $('#zw_gzdz').val();
        var zw_yxfw = $('#zw_yxfw').val();
        var zw_zdxl = $('#zw_zdxl').val();
        var zw_yjbys = $('#zw_yjbys').val();
        var zw_gznx = $('#zw_gznx').val();
        var zw_zwms = $('#zw_zwms').val();
        var zw_jnyq = $('#zw_jnyq').val();
        var zw_zwld = "";
        $('input[name="zw_zwld"]:checked').each(function () {
            if (zw_zwld == "") {
                zw_zwld = $(this).val();
            } else {
                zw_zwld += "," + $(this).val();
            }
        });
        var zw_zprs = $('#zw_zprs').val();
        var zw_fbsc = $('#zw_fbsc').val();
        var zw_ssbm = $('#zw_ssbm').val();
        var zw_id = '${gw.zw_id!}';

        if (zw_zwmc == '') {
            alert('请填写职位名称');
            return;
        }

        if (zw_zwlb == '') {
            alert('请填写职位类别');
            return;
        }

        if (zw_gzxz == '') {
            alert('请选择工作性质');
            return;
        }
        if (zw_gzdz == '') {
            alert('请填写工作地址');
            return;
        }

        if (zw_yxfw == '') {
            alert('请选择月薪范围');
            return;
        }
        if (zw_zdxl == '') {
            alert('请选择最高学历');
            return;
        }
        if (zw_yjbys == '') {
            alert('请选择应届毕业生');
            return;
        }
        if (zw_gznx == '') {
            alert('请选择工作年限');
            return;
        }
        if (zw_jnyq == '') {
            alert('请填写技能要求');
            return;
        }
        if (zw_zprs == '') {
            alert('请填写招聘人数');
            return;
        }
        var num = /^(([1-9]*)|(([1-9]*).([0-9]*)))$/;
        if (!num.test(zw_zprs)) {
            alert('招聘人数只能填写数字');
            return;
        }
        if (zw_fbsc == '') {
            alert('请选择结束发布时间');
            return;
        }
        if (zw_ssbm == '') {
            alert('请填写所属部门');
            return;
        }
        if (zw_id == '') {
            $.ajax({
                url: "${ctxPath}/qyzx/insertQyzxZjgw",   //请求的url地址
                dataType: "json",
                data: {
                    "zw_zwmc": zw_zwmc,
                    "zw_zwlb": zw_zwlb,
                    "zw_gzxz": zw_gzxz,
                    "zw_gzdz": zw_gzdz,
                    "zw_yxfw": zw_yxfw,
                    "zw_zdxl": zw_zdxl,
                    "zw_yjbys": zw_yjbys,
                    "zw_gznx": zw_gznx,
                    "zw_zwms": zw_zwms,
                    "zw_jnyq": zw_jnyq,
                    "zw_zwld": zw_zwld,
                    "zw_zprs": zw_zprs,
                    "zw_fbsc": zw_fbsc,
                    "zw_ssbm": zw_ssbm
                },
                type: "post",
                success: function (data) {
                    alert('新增岗位成功!!!');
                    window.location.href = "${ctxPath}/qyzx/goToQyzxFbzwgl";
                }
            });
        } else {
            $.ajax({
                url: "${ctxPath}/qyzx/update",   //请求的url地址
                dataType: "json",
                data: {
                    "zw_id": zw_id,
                    "zw_zwmc": zw_zwmc,
                    "zw_zwlb": zw_zwlb,
                    "zw_gzxz": zw_gzxz,
                    "zw_gzdz": zw_gzdz,
                    "zw_yxfw": zw_yxfw,
                    "zw_zdxl": zw_zdxl,
                    "zw_yjbys": zw_yjbys,
                    "zw_gznx": zw_gznx,
                    "zw_zwms": zw_zwms,
                    "zw_jnyq": zw_jnyq,
                    "zw_zwld": zw_zwld,
                    "zw_zprs": zw_zprs,
                    "zw_fbsc": zw_fbsc,
                    "zw_ssbm": zw_ssbm
                },
                type: "post",
                success: function (data) {
                    alert('修改岗位成功!!!');
                    window.location.href = "${url!}";
                }
            });
        }


    }

    function update() {
        var zw_id = '${gw.zw_id!}';
        if (zw_id == '') {
        } else {
            $("#zw_yxfw").find("option[value=" + '${gw.zw_yxfw!}' + "]").attr("selected", true);
            $("#zw_gzxz").find("option[value=" + '${gw.zw_gzxz!}' + "]").attr("selected", true);
            $("#zw_zdxl").find("option[value=" + '${gw.zw_zdxl!}' + "]").attr("selected", true);
            $("#zw_yjbys").find("option[value=" + '${gw.zw_yjbys!}' + "]").attr("selected", true);
            $("#zw_gznx").find("option[value=" + '${gw.zw_gznx!}' + "]").attr("selected", true);
            var data = '${gw.zw_zwld!}';
            var str = data.split(',');
            var check = $('#check input');
            for (var i = 0; i < check.length; i++) {
                for (var x = 0; x < str.length; x++) {
                    if (str[x] == $(check[i]).val()) {
                        $(check[i]).prop('checked', true);
                    }
                }
            }
        }
    }


</script>
<!--职能选择开始-->
<link href="${resPath}/bcrc/cssjs/base.css" rel="stylesheet" type="text/css">
<link href="${resPath}/bcrc/cssjs/big-window.css" rel="stylesheet" type="text/css">


<script type="text/javascript">
    /* $(document).ready(function () {
         $("#result").click(function () {
             $("#result").positionSelect({
                 containerId: "positionDiv",
                 className: "big-window",
                 nameId: "resultinput",
                 required: true,
                 maxCount: 5,
                 onConfirm: null
             });
         });
     });*/
</script>

<!----><style>
    .zwxz{
        background: url(${resPath}/bcrc/images/form_03.png) no-repeat 10px;
        position: absolute;
        width: 36px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        color: #00457d;
        text-align: center;
        top: 5px;
        right: 0;
        border-left: 1px solid #ddd;}
</style>
<!--<textarea id="result" cols="80" rows="10">点我，狠狠地点我。</textarea>-->
<!----><div id="positionDiv" style=" position: fixed;">
</div>
<!-- 职位-->
<!---->
<div class="big-window bg-f0" id="position">
    <div class="title">
        <b>选择职位</b><span class="tip">(最多选择5项)</span> <a href="#" onclick="javascript:closeposition()">
    </a>
    </div>
    <div class="sele-tag">
        <dl>
            <dt>已选择：</dt>
            <dd>
                <a href="#">已选择的职位1</a>
                <a href="#">已选择的职已选择的职位位2</a>
                <a href="#">已选择已选择的职位的职位3</a>
                <a href="#">已已选择的职位选择的职位4</a>
                <a href="#">已已选择的职位选择的职位5</a>
                <a href="#" class="btn">确 定</a>
            </dd>
        </dl>
    </div>
    <div class="position-menu">
        <div class="menu">
            <ul>
                <li>销售|客服|市场</li>
                <li>财务|人力资源|行政</li>
                <li class="sele">项目|质量|高级管理</li>
                <li>IT|互联网|通信</li>
                <li>房产|建筑|物业管理</li>
                <li>金融</li>
                <li>采购|贸易|交通|物流</li>
                <li>生产|制造</li>
                <li>传媒|印刷|艺术|设计</li>
                <li>咨询|法律|教育|翻译</li>
                <li>服务业</li>
                <li>能源|环保|农业|科研</li>
                <li>兼职|实习|社工|其他</li>
            </ul>
        </div>
        <div class="sub-menu">
            <dl>
                <dt>电信/通信技术开发及应用</dt>
                <dd>
                    <a href="#">互联网/电子商务 </a>
                    <a href="#">计算机软件 </a>
                    <a href="#">IT服务(系统/数据/维护) </a>
                    <a href="#">电子技术/半导体/集成电路 </a>
                    <a href="#">计算机硬件 </a>
                    <a href="#">通信/电信/网络设备 </a>
                    <a href="#">通信/电信运营、增值服务 </a>
                    <a href="#">网络游戏</a>
                </dd>
            </dl>
            <dl>
                <dt>财务/审计/税务</dt>
                <dd>
                    <a href="#">快速消费品（食品/饮料/烟酒/日化） </a>
                    <a href="#">耐用消费品（服饰/纺织/皮革/家具/家电） </a>
                    <a href="#">贸易/进出口 </a>
                    <a href="#">零售/批发 </a>
                    <a href="#">租赁服务 </a>
                </dd>
            </dl>
            <dl>
                <dt>交通运输服务</dt>
                <dd>
                    <a href="#">互联网/电子商务 </a>
                    <a href="#">计算机软件 </a>
                    <a href="#">IT服务(系统/数据/维护) </a>
                    <a href="#">电子技术/半导体/集成电路 </a>
                    <a href="#">计算机硬件 </a>
                    <a href="#">通信/电信/网络设备 </a>
                    <a href="#">通信/电信运营、增值服务 </a>
                    <a href="#">网络游戏</a>
                </dd>
            </dl>
            <dl>
                <dt>生物/制药/医疗器械</dt>
                <dd>
                    <a href="#">快速消费品（食品/饮料/烟酒/日化） </a>
                    <a href="#">耐用消费品（服饰/纺织/皮革/家具/家电） </a>
                    <a href="#">贸易/进出口 </a>
                    <a href="#">零售/批发 </a>
                    <a href="#">租赁服务 </a>
                </dd>
            </dl>
            <dl>
                <dt>互联网产品/运营管理</dt>
                <dd>
                    <a href="#">汽车/摩托车</a>
                    <a href="#">大型设备/机电设备/重工业 </a>
                    <a href="#">加工制造（原料加工/模具） </a>
                    <a href="#">仪器仪表及工业自动化 </a>
                    <a href="#">印刷/包装/造纸 </a>
                    <a href="#">办公用品及设备 </a>
                    <a href="#">医药/生物工程 </a>
                    <a href="#">医疗设备/器械 </a>
                    <a href="#">航空/航天研究与制造</a>
                </dd>
            </dl>
            <dl>
                <dt>房地产|建筑业</dt>
                <dd>
                    <a href="#">房地产/建筑/建材/工程 </a>
                    <a href="#">家居/室内设计/装饰装潢 </a>
                    <a href="#">物业管理/商业中心</a>
                </dd>
            </dl>
        </div>
    </div>
</div>


<!--职能选择结束-->
<!--行业选择开始-->
<link rel="stylesheet" type="text/css" href="${resPath}/bcrc/cssjs/css.css" />
<link rel="stylesheet" type="text/css" href="${resPath}/bcrc/cssjs/alpha.css" />
<script type="text/javascript">
    // 是否在数组内
    function in_array(needle, haystack) {
        if(typeof needle == 'string' || typeof needle == 'number') {
            for(var i in haystack) {
                if(haystack[i] == needle) {
                    return true;
                }
            }
        }
        return false;
    }
</script>
<script type="text/javascript" src="${resPath}/bcrc/cssjs/industry_func.js"></script>

<!--<input id="btn_IndustryID" type="button" value="请选择行业" onclick="IndustrySelect('btn_IndustryID')" />-->
<!-- alpha div -->
<div id="maskLayer" style="display:none">
    <iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
    <div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
    <div id="drag">
        <h3 id="drag_h"></h3>
        <div id="drag_con"></div><!-- drag_con end -->
    </div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->
<div id="sublist" style="display:none"></div>
<!--行业选择  结束-->

</body>
</html>
