<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${siteTitle!}</title>
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-page.css">
    <script src="${resPath}/bcrc/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"  src="${resPath}/bcrc/js/TL_Tab.js"></script>
 <!--   <link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/common.1017570d.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/wangluosousuo.css">


    <script src="${resPath}/syrc/js/qyzx_js .js"></script>
    <script type="text/javascript" src="${resPath}/syrc/js/pointtrack.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/jquery.placeholder.min.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/trackData.js"></script>-->
    <link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/cjjl_jzd.css">
    <script type="text/javascript" src="${resPath}/syrc/js/jlzx_js.js"></script>
</head>
<body>
<div class="contentbig">
    <!--头部开始-->
    @includeFileTemplate("/www/syrc/include/header.html",{"current":"index"}){}
    <!--头部结束-->
    <!--内容开始-->
    <div class="wz_cont">
        <div  class="wz_cont_in">
            <div class="dqwz">当前位置：<a href="${frontPath!}/4">首页</a>>>编辑企业信息</div>
            <div class=" clearfix">
                <div class="con_left fl">
                    <h4><img src="${resPath}/bcrc/images/qyzx_03.png"/></h4>
                    <ul class="left_nav">
                        @includeFileTemplate("/www/syrc/include/qyzx-eightOtherLeftMeun.html",{"current":"index"}){}
                    </ul>
                </div>
                <div class="con_right fr">
                    <div class="all_title"><a href="${ctxPath}/qyzx/goToQyzxQyxxxgJbxx"><span>基本信息</span></a><a href="${ctxPath}/qyzx/goToLogoxg"><span>logo上传</span></a></div>
                    <table class="jbxx_table">

                        <tr>
                            <td class="td_tit" valign="top">公司logo：</td>
                            <td>
                                <a class="xx_logo2" id ="img">
                                    @if(isNotEmpty(qyInfo.qy_file_logo)){
                                    <img src="${qyInfo.qy_file_logo!}" style="width: 100%;height: 100%" />
                                    @}else{
                                    LOGO
                                    <img src="" />
                                    @}
                                </a>
                                <h4 class="xx_logotit"><i class="red">*</i>此图片可作为首页广告位使用。为确保成功，请您上传后缀名为jpg、gif、png、bmp的图片，图片大小不得超过2M。</h4>
                            </td>
                        </tr>

                    </table>

                    <p class="xx_p"> <a class="qr_btn" id="uptea">浏览...</a>

                    <input type="file" style='display:none;'  id="myfile"  name="myfile" onchange="printFileInfo(this)"  accept='image/png,image/jpg,inamge/gif,image/bpm' multiple="multiple"/>
                    <a class="qr_btn" href="javascript:void(0);" onclick="save()">上传图片</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--内容结束-->
    @includeFileTemplate("/www/syrc/include/footer.html",{"current":"index"}){}
</div>
<script>
    $("#uptea").click(function () {
        $("#myfile").click();
    });

    var myarr=[];
    function printFileInfo(target){
        $('#img').html('<img src="'+ URL.createObjectURL(target.files[0]) +'" WIDTH="200" HEIGHT="200"/>')
        var fileSize = 0;
        if ( !target.files) {
            var filePath = target.value;
            var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
            var file = fileSystem.GetFile (filePath);
            fileSize = file.Size;
        } else {
            fileSize = target.files[0].size;
        }
        var size = fileSize / 1024;
        if(size>2048){
            window.wxc.xcConfirm("附件不能大于2M!", "error");
            target.value="";
            return
        }
        var picFile = document.getElementById('myfile');
        var files = picFile.files;
        for(var i=0; i<files.length; i++){
            var file = files[i];
            myarr.push(file)
        }

    }

    var url = '${ctxPath}/qyzx/UpdateLogo';//数据地址
    function save() {
        var formData = new FormData();
        $.each(myarr,function(i,file){
            formData.append('myfile',file);
        });
        $.ajax({
            url : url,
            type : 'POST',
            dataType: 'json',
            data : formData,
            crossDomain: true,
            cache: false,
            processData: false,
            contentType: false,
            success : function(responseStr) {
                alert("修改成功，管理员将在24小时内进行审核，请耐心等待。");
                window.location.href="${ctxPath}/qyzx/goToyprclg";
            },
        });

    }



</script>
<!--底部开始-->
<script type="text/javascript">
    function jinggao(){
        alert("您的企业信息还未通过审核或未提交  请耐心等待");
    }
</script>

<!--底部结束-->
	
	
</body>
</html>
