<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>${siteTitle!}</title>
<link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/ly_html.css">
<link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/syrc-body.css">
<link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/syrc-page.css">
<link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/myPagination.css">
<script src="${resPath}/syrc/js/myPagination.js"></script>
<script src="${resPath}/syrc/js/jquery-1.7.2.min.js"></script>
<script src="${resPath}/syrc/js/qyzx_js .js"></script>
</head>

<body>
@includeFileTemplate("/www/syrc/include/header.html",{"current":"index"}){}


<!--内容开始-->
<div class="contentbox er_con">
    <div class=" clearfix">
		<div class="con_left fl">
			<h4>企业中心</h4>
					<ul class="left_nav">
				<li ><a class="qyxxgl" href="${ctxPath}/qyzx/goToyprclg">企业信息管理</a></li>
				<li ><a class="fbzwgl"
				@if(session.QypztSession == 1){
				 href="${ctxPath}/qyzx/goToQyzxFbzwgl"
				@}else{
				href="javascript:void(0)" onclick="jinggao('${ctxPath}/qyzx/goToQyzxFbzwgl');"
				@}
				>发布职位管理</a></li>
				<li class="on"><a class="yprcgl"
				@if(session.QypztSession == 1){
				href="${ctxPath}/qyzx/goToQyzxYprcgl"
				@}else{
				href="javascript:void(0)" onclick="jinggao('${ctxPath}/qyzx/goToQyzxYprcgl');"
				@}
				 >应聘人才管理  </a></li>
						@includeFileTemplate("/www/syrc/include/qyzx-eightOtherLeftMeun.html",{"current":"index"}){}
				</ul>
				<a class="btn_ssrc"
				@if(session.QypztSession == 1){
				 href="${ctxPath}/qyzx/searchTalents"
				@}else{
				href="javascript:void(0)" onclick="jinggao('${ctxPath}/qyzx/searchTalents');"
				@}
				>搜索人才</a>
				</div>
		<div class="con_right fr">
<!--			发布职位管理   开始-->
			<div class="er_tit">
				<span>应聘人才管理</span>
			</div>
			<div class="qygl_con">
			<div class="tab_tit2 con_tit">
				<span onclick="tzym();">已接收的简历</span>
				<span class="on" onclick="tzym2();">面试邀请</span>
			</div>
			<table class="con_table tab_table2">
				<thead>
					<th width="100">姓名</th>
					<th width="300">面试地点</th>
					<th width="200">邀请时间</th>
					<th width="100">邀请状态</th>
					<th width="200">操作</th>
				</thead>
				@for(user in model.list){
				<tr>
					<td><a target="_blank" href="${ctxPath}/cms/resume/previewResumeForAdmin?id=${user.JL_BB_ID}&zh_id=${user.zh_id}">${user.jianli_xm}</a></td>
					<td>${user.zw_gzdz}</td>
					<td>${user.tdjl_yqsj}</td>
					<td class="green">已接受</td>
					<td>
						<a class="btn_sc btn_a" href="javascript:if(confirm('确认删除吗?'))window.location='${ctxPath}/qyzx/deleteByPrimiryKeyForMsyq?tdjl_id=${user.tdjl_id}'"><img src="${resPath}/syrc/images/jlzx_con_11.png"/>删除</a>
					</td>
					
				</tr>
						@}
						<tr>
					<td colspan="6">
						<div id="pagination" class="pagination"></div>
				</td>
				</tr>
			
			</table>
			<script type="text/javascript">
				
				var datatotal = '${model.total}';
			        var pageAmount =5;
			        var pagenum = '${model.pageNum}';
			        pageTotal=Math.ceil(datatotal/pageAmount);
			        window.onload = function () {
			            new myPagination({
			                id: 'pagination',
			                curPage:pagenum, //初始页码
			                pageTotal: pageTotal, //总页数
			                pageAmount: pageAmount,  //每页多少条
			                dataTotal: datatotal, //总共多少条数据
			                getPage: function (page) {
			                    window.location.href ='${ctxPath}/qyzx/goToQyzxYprcglForMsyq?pageNum='+page;
			                }
			            })
			
			        }
				
				function tzym(){
				window.location.href="${ctxPath}/qyzx/goToQyzxYprcgl";
				}
				function tzym2(){
				window.location.href="${ctxPath}/qyzx/goToQyzxYprcglForMsyq";
				}
			
			</script>
			
		
				
				</div>
<!--			应聘人才管理   结束-->
		</div>
	</div>
</div>
<!--内容结束-->
@includeFileTemplate("/www/syrc/include/footer.html",{"current":"index"}){}

<!--邀请人才弹出框-->
<div class="yqrc_div">
	<p>成功邀请面试</p>
	<a class="yq_qd">确定</a>
</div>
<!--邀请人才弹出框-->
<!--遮盖层-->
<div id="layer_back_drop" class="layer_back_drop_class" style=""></div>
<!--遮盖层-->

