<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${siteTitle!}</title>
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/ly_html.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-body.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/bcrc-page.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/common.1017570d.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/bcrc/css/wangluosousuo.css">
    <link rel="stylesheet" type="text/css" href="${resPath}/syrc/css/myPagination.css">

    <script type="text/javascript" src="${resPath}/bcrc/js/jquery-3.6.0.min.js"></script>

    <script type="text/javascript"  src="${resPath}/bcrc/js/TL_Tab.js"></script>
    <!--<script type="text/javascript"  src="${resPath}/bcrc/js/jquery.placeholder.min.js"></script>-->
    <!--<script type="text/javascript"  src="${resPath}/bcrc/js/trackData.js"></script>-->
    <!--<script type="text/javascript"  src="${resPath}/bcrc/js/gangweixuanze.js"></script>
    <script type="text/javascript" src="${resPath}/bcrc/js/searchResult.92340277.js"></script>-->
    <script src="${resPath}/syrc/js/jquery.placeholder.min.js"></script>
    <!--	<script src="${resPath}/syrc/js/myPagination.js"></script>-->


    <script type="text/javascript" src="${resPath}/syrc/js/pointtrack.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/jquery.placeholder.min.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/trackData.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/jlzx_js.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/gangweixuanze.js"></script>
    <script language="javascript" src="${resPath}/syrc/js/searchResult.92340277.js"></script>
    <script src="${resPath}/syrc/js/myPagination.js"></script>

</head>

<body>
<div class="contentbig">
    <!--头部开始-->
    @includeFileTemplate("/www/syrc/include/header.html",{"current":"index"}){}
    <form id="form">
    <!--内容开始-->
    <div class="wz_cont">
        <div  class="wz_cont_in">
            <div class="dqwz">当前位置：<a href="${frontPath!}/4">首页</a>>>求职信息</div>
            <!--搜索条件开始-->
            <div class="sstj_div">
                <div class="line_div">
                    <span class="tit_span">现从事行业</span>
                    <div class="txt pointer" float-on="false" id="int_expectindustry_div">
                        <input placeholder="填写/选择" class="ef cursor" id="int_expectindustry_input" type="text" maxlength="24">
                        <span class="ic i_block pointer" onclick="work_func_click(this)" id="int_expectindustry_click"></span>
                        <div class="ul u3" id="int_expectindustry_list"></div>
                    </div>
                </div>
                <div class="line_div">
                    <span class="tit_span">年龄</span>
                    <input type="text" class="ssjl_inp"/>&nbsp;&nbsp;—&nbsp;&nbsp;<input type="text"  class="ssjl_inp"/>
                </div>
                <div class="line_div">
                    <span class="tit_span">年龄</span>
                    <select>
                        <option>不限</option>
                        <option >男</option>
                        <option>女</option>
                    </select>
                </div>
                <div class="line_div">
                    <span class="tit_span">工作年限</span>
                    <input type="text" class="ssjl_inp"/>&nbsp;&nbsp;—&nbsp;&nbsp;<input type="text"  class="ssjl_inp"/>
                </div>
                <div class="line_div">
                    <span class="tit_span">学历</span>
                    <select  class="ssjl_sel">
                        <option>学历不限</option>
                        <option>初中及以下</option>
                        <option>高中</option>
                        <option>中专</option>
                        <option>大专</option>
                        <option>本科</option>
                        <option>硕士</option>
                        <option>博士</option>
                        <option>MBA</option>
                    </select>&nbsp;&nbsp;—&nbsp;&nbsp;
                    <select  class="ssjl_sel">
                        <option>学历不限</option>
                        <option>初中及以下</option>
                        <option>高中</option>
                        <option>中专</option>
                        <option>大专</option>
                        <option>本科</option>
                        <option>硕士</option>
                        <option>博士</option>
                        <option>MBA</option>
                    </select>
                </div>

            </div>
            <div class="sx_btn">
                <a class="sxjl"><img src="images/qyzx_icon_31.png" />筛选简历</a>
                <a class="del_btn"><img src="images/jlzx_con_11.png" />清空</a>
            </div>
            <!--搜索条件结束-->
            <dl class="gjrcb_cont">
                <dd>
                    <span class="pm fl"><img src="images/bcrc-index_14.png"/></span>
                    <div class="ryxx fl">
                        <a>
                            <h3 class="fl">景因梦</h3>
                            <div class="jbxx fl"><span>33岁</span><span>女</span><span>本科</span><span>郑州大学(计算机网络)</span></div>
                            <div class="clear"></div>
                            <div class="qztj">
                                <span>求职岗位:其他职位</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <span>求职性质:其他职位</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <span>期望薪水:其他职位</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <span>期望地区:其他职位</span>
                            </div>
                            <div class="clear"></div>
                            <p>精通C语言，Linux TCP/IP协议，精通防火墙处理流程，DDOS攻击，NAT,VPN,路由，vXworks等，能带技术团队。2006/8--至今某世界500强企业杭州研究所 产品SE...</p>
                        </a>
                    </div>
                </dd>



            </dl>

        </div>
    </div>
    <!--内容结束-->




    <!--头部结束-->
    <form id="form">
        <!--内容开始-->
        <div class="wz_cont">
            <div  class="wz_cont_in">
                <div class="dqwz">当前位置：<a href="${frontPath!}/4">首页</a>>>招聘信息</div>
                <div class="dw_search clearfix Fm">
                    <!--搜索条件开始-->
                    <div class="dw_search_in">
                        <!-- 全文及相关关键字 -->
                        <div class="el on el_q">
                            <ul id="kwdTypeSelUl">
                                <li>全文</li>
                                <!--<li><a href="javascript:void(0);" onclick="kwdtypeChangeResult(1);">搜公司</a></li>-->
                            </ul>
                            <p class="ipt">
                                <input type="text" maxlength="200" id="mc" placeholder="搜索全文/职位名" autocomplete="off" vindex="-1" name="keyword" value="" class="mytxt at" preval="">
                            </p>
                            <div class="ul" id="KwdSearchResult" style="display:none;"></div>
                        </div>
                        <!--地点 -->
                        <div class="txt pointer">
                            <p class="hdl">地点</p>
                            <input type="text" id="dd" placeholder="输入地点" style=" border:none; margin:0 0 0 10px;width: 100%;">
                        </div>

                        <!-- 行业类别 -->
                        <div class="txt pointer long" id="indtype_click">
                            <p class="hdl">行业</p>
                            <input autocomplete="off" id="indtype_input" readonly type="text" class="ef" placeholder="选择行业" value="">
                            <input name="industrytype" type="hidden" id="indtype_code" value="">
                        </div>
                        <!-- 职能类别 -->
                        <div class="txt pointer long brn" id="funtype_click">
                            <p class="hdl">职能</p>
                            <input autocomplete="off" id="funtype_input" readonly type="text" class="ef" placeholder="选择职能" value="">
                            <input name="funtype" type="hidden" id="funtype_code" value="">
                        </div>
                        <!-- 搜索按钮 -->
                        <button class="p_but" type="button" id="ss" onclick="search();">搜&nbsp;索</button>
                    </div>
                </div>
                <!--过滤条件-->
                <div class="dw_filter  on">
                    <!--发布日期-->
                    <div class="el mk on" id="filter_issuedate">
                        <span class="title">发布日期：</span>
                        <ul>
                            <li id="fbrq-1" class="fbrq"><a track-type="searchConditionTrackButtonClick" event-type="" class="dw_c_orange"><input type="hidden" name="fbrq" value="-1"/>所有</a></li>
                            <li id="fbrq0" class="fbrq"><a track-type="searchConditionTrackButtonClick" event-type="" class=""><input type="hidden" name="fbrq" value="0"/>24小时内</a></li>
                            <li id="fbrq1" class="fbrq"><a track-type="searchConditionTrackButtonClick" event-type="" class=""><input type="hidden" name="fbrq" value="1"/>近三天</a></li>
                            <li id="fbrq2" class="fbrq"><a track-type="searchConditionTrackButtonClick" event-type="" class=""><input type="hidden" name="fbrq" value="2"/>近一周</a></li>
                            <li id="fbrq3" class="fbrq" ><a track-type="searchConditionTrackButtonClick" event-type="" class=""><input type="hidden" name="fbrq" value="3"/>近一月</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--月薪范围-->
                    <div class="el mk on" id="filter_providesalary">
                        <span class="title">月薪范围：</span>
                        <span class="more dicon Dm">更多</span>
                        <ul>
                            <li id="yxfw-1" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class="dw_c_orange"><input type="hidden" name="yxfw" value="-1"/>所有</a></li>
                            <li id="yxfw0" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="0"/>1千以下</a></li>
                            <li id=yxfw1" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="1"/>1-2千</a></li>
                            <li id="yxfw2" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="2"/>2-4千</a></li>
                            <li id="yxfw3" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="3"/>4-6千</a></li>
                            <li id="yxfw4" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="4"/>6-8千</a></li>
                            <li id="yxfw5" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="5"/>8-1万</a></li>
                            <li id="yxfw6" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="6"/>1-1.5万</a></li>
                            <li id="yxfw7" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="7"/>1.5-2万</a></li>
                            <li id="yxfw8" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="8"/>2-3万</a></li>
                            <li id="yxfw9" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="9"/>3-5万</a></li>
                            <li id="yxfw10" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="10"/>5-7万</a></li>
                            <li id="yxfw11" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="11"/>7-10万</a></li>
                            <li id="yxfw12" class="yxfw"><a track-type="searchConditionTrackButtonClick" event-type="20" class=""><input type="hidden" name="yxfw" value="12"/>10万以上</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--公司性质-->
                    <div class="el" id="filter_cotype">
                        <span class="title">经济类型：</span>
                        <span class="more dicon Dm">更多</span>
                        <ul>
                            <li id="jjlx-1" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class="dw_c_orange"> <input type="hidden" name="jjlx" value="-1"/>所有</a></li>
                            <li id="jjlx0" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="0"/>国有经济</a></li>
                            <li id="jjlx1" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="1"/>集体经济</a></li>
                            <li id="jjlx2" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="2"/>私营经济</a></li>
                            <li id="jjlx3" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="3"/>个体经济</a></li>
                            <li id="jjlx4" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="4"/>联营经济</a></li>
                            <li id="jjlx5" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="5"/>股份制</a></li>
                            <li id="jjlx6" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="6"/>外商投资</a></li>
                            <li id="jjlx7" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="7"/>港澳台投资</a></li>
                            <li id="jjlx8" class="jjlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="jjlx" value="8"/>其他经济类</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--工作年限-->
                    <div class="el" id="filter_workyear">
                        <span class="title">工作年限：</span>
                        <ul>
                            <li id="gznx-1" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class="dw_c_orange"><input type="hidden" name="gznx" value="-1"/>所有</a></li>
                            <li id="gznx0" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="0"/>不限经验</a></li>
                            <li id="gznx1" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="1"/>无经验</a></li>
                            <li id="gznx2" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="2"/>1年以下</a></li>
                            <li id="gznx3" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="3"/>1-3年</a></li>
                            <li id="gznx4" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="4"/>3-5年</a></li>
                            <li id="gznx5" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="5"/>5-10年</a></li>
                            <li id="gznx6" class="gznx"><a track-type="searchConditionTrackButtonClick" event-type="22" class=""><input type="hidden" name="gznx" value="6"/>10年以上</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--学历要求-->
                    <div class="el" id="filter_degreefrom">
                        <span class="title">学历要求：</span>
                        <ul>
                            <li id="xlyq-1" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class="dw_c_orange"><input type="hidden" name="xlyq" value="-1"/>所有</a></li>
                            <li id="xlyq0" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="0"/>不限学历</a></li>
                            <li id="xlyq1" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="1"/>本科</a></li>
                            <li id="xlyq2" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="2"/>硕士</a></li>
                            <li id="xlyq3" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="3"/>博士</a></li>
                            <li id="xlyq4" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="4"/>大专</a></li>
                            <li id="xlyq5" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="5"/>中技</a></li>
                            <li id="xlyq6" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="6"/>中专</a></li>
                            <li id="xlyq7" class="xlyq"><a track-type="searchConditionTrackButtonClick" event-type="23" class=""><input type="hidden" name="xlyq" value="7"/>高中以下</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--公司规模-->
                    <div class="el" id="filter_companysize">
                        <span class="title">公司规模：</span>
                        <ul>
                            <li id="gsgm-1" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class="dw_c_orange"><input type="hidden" name="gsgm" value="-1"/>所有</a></li>
                            <li id="gsgm0" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class=""><input type="hidden" name="gsgm" value="0"/>少于20人</a></li>
                            <li id="gsgm1" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class=""><input type="hidden" name="gsgm" value="1"/>20-99人</a></li>
                            <li id="gsgm2" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class=""><input type="hidden" name="gsgm" value="2"/>100-499人</a></li>
                            <li id="gsgm3" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class=""><input type="hidden" name="gsgm" value="3"/>500-999人</a></li>
                            <li id="gsgm4" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class=""><input type="hidden" name="gsgm" value="4"/>1000-9999人</a></li>
                            <li id="gsgm5" class="gsgm"><a track-type="searchConditionTrackButtonClick" event-type="24" class=""><input type="hidden" name="gsgm" value="5"/>10000人以上</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--其他筛选-->
                    <div class="el" filter_cotype>
                        <span class="title">薪资福利：</span>
                        <ul>
                            <li id="xzfl-1" class="xzfl"><a track-type="searchConditionTrackButtonClick" event-type="66" class="dw_c_orange"><input type="hidden" name="xzfl" value="-1"/>所有</a></li>
                            <li id="xzfl0" class="xzfl"><a track-type="searchConditionTrackButtonClick" event-type="66" class=""><input type="hidden" name="xzfl" value="0"/>五险一金</a></li>
                            <li id="xzfl1" class="xzfl"><a track-type="searchConditionTrackButtonClick" event-type="66" class=""><input type="hidden" name="xzfl" value="1"/>节日福利</a></li>
                            <li id="xzfl2" class="xzfl"><a track-type="searchConditionTrackButtonClick" event-type="66" class=""><input type="hidden" name="xzfl" value="2"/>带薪年假</a></li>
                            <li id="xzfl3" class="xzfl"><a track-type="searchConditionTrackButtonClick" event-type="66" class=""><input type="hidden" name="xzfl" value="3"/>现金补贴</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="el" filter_cotype>
                        <span class="title">工作类型：</span>
                        <ul>
                            <li id="gzlx-1" class="gzlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class="dw_c_orange"><input type="hidden" name="gzlx" value="-1"/>所有</a></li>
                            <li id="gzlx0" class="gzlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="gzlx" value="0"/>全职</a></li>
                            <li id="gzlx1" class="gzlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="gzlx" value="1"/>兼职</a></li>
                            <li id="gzlx2" class="gzlx"><a track-type="searchConditionTrackButtonClick" event-type="21" class=""><input type="hidden" name="gzlx" value="2"/>实习</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
    </form>
    <!--排除关键字 -->
    <div class="op" onclick="collapseExpansionSearch(&#39;https://search.51job.com&#39;, &#39;dw_filter&#39;, this);">
        <span>收起选项<em class="dicon Dm"></em></span>
    </div>
</div>

<!--过滤条件 END-->
<!--招聘岗位开始-->
@for(list in model){
<div class="list3">
    <h4><span class="zw_tit fl"><a
            @if(session.tbZhInfo_loginSession !=null){
            href="${ctxPath}/qyzx/gwXq?zw_id=${list.zw_id}"  target="on"
            @}else {
            href="javascript:void(0)" onclick="jinggao('${ctxPath}/qyzx/gwXq?zw_id=${list.zw_id}');"
            @}
    >${list.zw_zwmc}</a>
				</span><a class="gs_tit fr">${list.qy_qymc}</a></h4>
    <h5><b class="red fl">
        @if(list.zw_yxfw==0){
        1K-
        @}
        @else if(list.zw_yxfw==1){
        1K-2K
        @}
        @else if(list.zw_yxfw==2){
        2K-4K
        @}
        @else if(list.zw_yxfw==3){
        4K-6K
        @}
        @else if(list.zw_yxfw==4){
        6K-8K
        @}
        @else if(list.zw_yxfw==5){
        8K-10K
        @}
        @else if(list.zw_yxfw==6){
        10K-15K
        @}
        @else if(list.zw_yxfw==7){
        15-20K
        @}
        @else if(list.zw_yxfw==8){
        20K-30K
        @}
        @else if(list.zw_yxfw==9){
        30K-50K
        @}
        @else if(list.zw_yxfw==10){
        50K-70K
        @}
        @else if(list.zw_yxfw==11){
        70L-100K
        @}
        @else if(list.zw_yxfw==12){
        100K+
        @}
    </b> <span class="fl z_tit">
					${strutil.length(list.qy_xxdz!)>40?strutil.subStringTo(list.qy_xxdz!,0,15)+"...":list.qy_xxdz!} |
					 @if(list.zw_gznx==0){
					  经验不限
					  @}
					  @else if(list.zw_gznx==1){
					  无经验
					  @}
					  @else if(list.zw_gznx==2){
					  1年以下
					  @}
					  @else if(list.zw_gznx==3){
					  1-3年
					  @}
					  @else if(list.zw_gznx==4){
					  3-5年
					  @}
					  @else if(list.zw_gznx==5){
					  5-10年
					  @}
					  @else if(list.zw_gznx==6){
					  10年以上
					  @}
					     |
					  @if(list.zw_zdxl==0){
					  学历不限
					  @}
					  @else if(list.zw_zdxl==1){
					  本科
					  @}
					  @else if(list.zw_zdxl==2){
					  硕士
					  @}
					  @else if(list.zw_zdxl==3){
					  博士
					  @}
					  @else if(list.zw_zdxl==4){
					  大专
					  @}
					  @else if(list.zw_zdxl==5){
					  中技
					  @}
					  @else if(list.zw_zdxl==6){
					  中专
					  @}
					  @else if(list.zw_zdxl==7){
					  高中以下
					  @}
				</span><span class="fr z_tit">
					@if(list.qy_jjlx==0){
				      国有经济
				      @}
				      @else if(list.qy_jjlx==1){
				      集体经济
				      @}
				      @else if(list.qy_jjlx==2){
				      私营经济
				      @}
				      @else if(list.qy_jjlx==3){
				      个体经济
				      @}
				      @else if(list.qy_jjlx==4){
				      联营经济
				      @}
				      @else if(list.qy_jjlx==5){
				      股份制
				      @}
				      @else if(list.qy_jjlx==6){
				     外商投资
				      @}
				      @else if(list.qy_jjlx==7){
				      港澳台投资
				      @}
				      @else if(list.qy_jjlx==8){
				      其他经济类
				      @}
				        |
		  			${list.zw_zprs}
				</span></h5>
    <p> <span class="fl_span fl">
					 @if(isNotEmpty(list.zw_zwld)){
				     @for(fors in strutil.split(list.zw_zwld,",")){
						@if(fors=="0"){
						<span>五险一金</span>
						@}
						@else if(fors=="1"){
						 <span>节日福利</span>
						@}
						@else if(fors=="2"){
						 <span>带薪年假</span>
						@}
						@else if(fors=="3"){
						 <span>现金补贴</span>
						@}
						@}
						@}
					<i class="rq_tit fr">${list.zw_fbsj}</i> </p>
    <span class="fr btn_tit gsxx_btn"> <a class="sczw_btn yellow"
                                          @if(session.tbZhInfo_loginSession !=null){
                                          href="javascript:void(0)" 	 onclick="sczw('${list.zw_id}');"
                                          @}else {
                                          href="javascript:void(0)" onclick="jinggao('${ctxPath}/gjss/selectExample');"
                                          @}
    ><img src="${resPath}/bcrc/images/jlzx_con_47.png">收藏职位</a> <a class="sqzw_btn"
                                                                   @if(session.tbZhInfo_loginSession !=null){
                                                                   href="javascript:void(0)"   onclick="sqzw('${list.zw_id}');"
                                                                   @}else {
                                                                   href="javascript:void(0)" onclick="jinggao('${ctxPath}/gjss/selectExample');"
                                                                   @}
    >申请职位</a> </span>
</div>
@}
<!--分页位置-->
<div id="pagination" class="pagination"></div>
<script>

    var datatotal = '${total}';
    var pageAmount = '${pagesize}';
    var pagenum = '${pagenum}';
    var mc1='${gjss.mc}';
    var dd1='${gjss.dd}';
    var indtype_input1='${gjss.qy_sshy}';
    var funtype_input1='${gjss.zw_zwlb}';
    var fbrq1='${gjss.fbrq}';
    var yxfw1='${gjss.zw_yxfw}';
    var jjlx1='${gjss.qy_jjlx}';
    var gznx1='${gjss.zw_gznx}';
    var xlyq1='${gjss.zw_zdxl}';
    var gsgm1='${gjss.gsgm}';
    var xzfl1='${gjss.xzfl}';
    var gzlx1='${gjss.zw_gzxz}';
    var zplx1='${gjss.zw_zplx}';
    pageTotal=Math.ceil(datatotal/pageAmount);

    if(pageTotal>5){
        pageSize=5
    }else{
        pageSize=pageTotal
    }

    window.onload = function () {
        $("#mc").val(mc1);
        $("#dd").val(dd1);
        $("#indtype_input").val(indtype_input1);
        $("#funtype_input").val(funtype_input1);
        $("#fbrq"+fbrq1).children().attr("class","dw_c_orange");
        $("#fbrq"+fbrq1).siblings().children().removeAttr("class");

        $("#jjlx"+jjlx1).children().attr("class","dw_c_orange");
        $("#jjlx"+jjlx1).siblings().children().removeAttr("class");

        $("#yxfw"+yxfw1).children().attr("class","dw_c_orange");
        $("#yxfw"+yxfw1).siblings().children().removeAttr("class");

        $("#gznx"+gznx1).children().attr("class","dw_c_orange");
        $("#gznx"+gznx1).siblings().children().removeAttr("class");

        $("#xlyq"+xlyq1).children().attr("class","dw_c_orange");
        $("#xlyq"+xlyq1).siblings().children().removeAttr("class");

        $("#gsgm"+gsgm1).children().attr("class","dw_c_orange");
        $("#gsgm"+gsgm1).siblings().children().removeAttr("class");

        $("#xzfl"+xzfl1).children().attr("class","dw_c_orange");
        $("#xzfl"+xzfl1).siblings().children().removeAttr("class");

        $("#gzlx"+gzlx1).children().attr("class","dw_c_orange");
        $("#gzlx"+gzlx1).siblings().children().removeAttr("class");


        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        new myPagination({
            id: 'pagination',
            curPage:pagenum, //初始页码
            pageTotal: pageTotal, //总页数
            pageAmount: pageAmount,  //每页多少条
            dataTotal: datatotal, //总共多少条数据
            getPage: function (page) {
                window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&gsgm='+gsgm+'&xzfl='+xzfl+'&zw_zplx=-1&pageCurrent='+page;

            }
        })

    }
</script>
</div>
<script type="text/javascript">
    function search(){
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
            //alert(indtype_input);
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
            //alert(funtype_input);
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;
    }
    //发布日期
    $(".fbrq").click(function(){

        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;
    });
    // 月薪范围
    $(".yxfw").click(function(){
        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });
    //经济类型
    $(".jjlx").click(function(){

        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });
    //工作年限
    $(".gznx").click(function(){

        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });
    //学历要求
    $(".xlyq").click(function(){

        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });
    //公司规模
    $(".gsgm").click(function(){

        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });
    //薪资福利
    $(".xzfl").click(function(){
        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;
    });
    //工作类型
    $(".gzlx").click(function(){

        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });

    /**
     * 招聘类型
     * limeng 2021/12/22新增 为啥这么写不知道 照抄的
     * **/
    $(".zplx").click(function(){
        $(this).children().attr("class","dw_c_orange");
        $(this).siblings().children().removeAttr("class");
        var mc=$("#mc").val();
        var dd=$("#dd").val();
        var indtype_input=$("#indtype_input").val();
        var funtype_input=$("#funtype_input").val();
        if(indtype_input.indexOf("+")){
            indtype_input=indtype_input.replace(/\+/g,'%2B');
        }
        if(funtype_input.indexOf("+")){
            funtype_input=funtype_input.replace(/\+/g,'%2B');
        }
        var fbrq=$(".fbrq").children().filter(".dw_c_orange").children().val();
        var yxfw=$(".yxfw").children().filter(".dw_c_orange").children().val();
        var jjlx=$(".jjlx").children().filter(".dw_c_orange").children().val();
        var gznx=$(".gznx").children().filter(".dw_c_orange").children().val();
        var xlyq=$(".xlyq").children().filter(".dw_c_orange").children().val();
        var gsgm=$(".gsgm").children().filter(".dw_c_orange").children().val();
        var xzfl=$(".xzfl").children().filter(".dw_c_orange").children().val();
        var gzlx=$(".gzlx").children().filter(".dw_c_orange").children().val();
        window.location.href ='${ctxPath}/gjss/zwss?mc='+mc+'&dd='+dd+'&zw_zwlb='+funtype_input+'&qy_sshy='+indtype_input+'&fbrq='+fbrq+'&qy_jjlx='+jjlx+'&zw_gznx='+gznx+'&zw_yxfw='+yxfw+'&zw_zdxl='+xlyq+'&zw_gzxz='+gzlx+'&zw_zplx=-1&gsgm='+gsgm+'&xzfl='+xzfl;

    });




    $("..gjrcb_cont dt").hover(function(){
        $(this).children('.gsxx_btn').fadeIn(300);
    },function(){
        $(this).children('.gsxx_btn').fadeOut(300);
    });
    function sczw(zw_id){
        $.ajax({
            url:"${ctxPath}/cms/resume/zwsc",   //请求的url地址
            dataType:"json",   //返回格式为json
            data:{zw_id:zw_id},    //参数值
            type:"post",   //请求方式
            success:function(data){
                alert(data.message);
            }
        });
    }

    function sqzw(zw_id){
        $.ajax({
            url:"${ctxPath}/cms/resume/wdscsqzw",   //请求的url地址
            dataType:"json",   //返回格式为json
            data:{zwId:zw_id},    //参数值
            type:"post",   //请求方式
            success:function(data){
                alert(data.message);
            }
        });
    }
</script>
<script type="text/javascript">
    $(".list3").hover(function(){
        $(this).children('.gsxx_btn').fadeIn(300);
    },function(){
        $(this).children('.gsxx_btn').fadeOut(300);
    });
</script>


<!--招聘岗位结束-->
</div>

<!--内容结束-->


@includeFileTemplate("/www/syrc/include/footer.html",{"current":"index"}){}
</div>
</body>
</html>
