@includeFileTemplate("/www/syrc/include/mm-header.html"){}



<!--内容开始-->
<div class="logo"><img src="${resPath}/bcrc/images/bcrc-index_03.png"/></div>
<div class="content2 ">
	<ul class="lr_step">
		<li class="step1">填写帐号</li>
		<li class="step2 on">验证身份</li>
		<li class="step3">设置新密码</li>
	</ul>
	<div class="con_form con_form2">
		<h5>验证当前帐号绑定的邮箱： <b class="red">${zh_user!}</b></h5>
		<h6>为了你的帐号安全，请通过身份验证：</h6>
		<div class="line line2">
			<p>邮箱验证码</p>
			<input type="text" placeholder="请输入邮箱中收到的6位数字验证码" class="yx_yz" id="yx"/>
			<input type="button"  class="yx_fs" onclick=" yjyzm();countDown();" id="yzm" value="发送验证码">
		</div>
		<a class="qr_btn" href="javascript:void(0);" onclick="wjmm2();" >下一步</a>
	</div>
</div>
<!--内容结束-->
@includeFileTemplate("/www/syrc/include/mm-footer.html",{"current":"index"}){}
