


@media only screen and (min-width:1280px) and (max-width: 1400px) {
	
	.jy_news { width: 49%;}
	.login_in .login_title span { padding: 0 18px;}
	.zpgw li {  width: 20.84%;}
	.qzxx li { width: 22.84%;}
	.dl_right {width: 36%;margin: 0 16% 0 0;}
	.login_in { width: 80%;}
	.login_after p{width: 67%;}
	.login_after ul li a { font-size: 14px;}
	.erdiv_fl {  width: 78%;}
	.gjrcb_cont dd .ryxx {
		width: 88%;
	}
	
	
	
}


























