/*当前位置*/
.rsj_dqwzbox {
	border-bottom: solid 1px #ccc;
	height: 40px;
	padding: 0 0 0 20px;
	margin: 0 0 20px 0;
	line-height: 40px;
}
/******************内容页样式***********************/
.sycon_bg {
	margin-top: 10px;
	background: #fff;
}
.news_cont {
	width: 1130px;
	margin: 0 auto;
}
.sywzy_h2 {
	color: #333;
	font-size: 24px;
	text-align: center;
	margin: 30px 0;
	border-bottom: none !important;
}
.wxx_neirong_times {
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: dashed 1px #ccc !important;
}
.sywzy_xbt {
	color: #666;
	font-size: 14px;
}
.wxx_neirong_timecent {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 40px;
}
.sywzy_xbt span {
	margin-left: 20px;
}
.sywzy_zh {
	color: #666;
	margin: 8px 0 -5px 0;
}
.wxx_neirong_timefenxiang {
	position: absolute;
	right: 0;
	top: 0px;
	margin: 0 !important;
}
.sywzy_zh a {
	color: #666;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	display: block;
	height: 30px;
	line-height: 30px;
	float: left;
}
.news_title {
	width: 96%;
	background: #f5f6f8;
	padding: 2%;
}
.sy_wz {
	color: #333;
	text-indent: 2em;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 35px;
	width: 100%;
	margin: 20px auto;
}
.sywzy_zrbj {
	text-align: right;
	color: #666;
	margin-top: 34px;
	margin-right: 12px;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
/*分页通用样式*/
.fy_div {
	text-align: right;
	padding-right: 20px;
}
.fy_div ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.fy_div ul.pagination li {
	display: inline;
	text-align: right;
}
.fy_div ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
}
.fy_div ul.pagination li a.active {
	background-color: #318ddc;
	color: white;
	border-radius: 5px;
}
.fy_div ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
/*简历中心 */
.er_con {
	background: url(../images/er_conbg.png) repeat;
}
.con_div {
	background: #fff;
}
.con_left {
	width: 325px;
	min-height: 490px;
	background: #fff;
}
.con_left h4 {
	width: 100%;
	background: url(../images/er_tit.png) no-repeat center;
	height: 96px;
	line-height: 96px;
	color: #fff;
	text-align: center;
	font-size: 35px;
	letter-spacing: 4px;
	background-size: 100% 100%;
}
.left_nav {
	margin: 20px auto;
	width: 90%;
}
.left_nav li {
	border-bottom: 1px dashed #ccc;
	/* height: 50px; */
	line-height: 20px;
	padding: 10px 0px;
}
.left_nav li a {
	font-size: 18px;
	color: #333;
	padding-left: 30px;
	width: 250px;
	display: block;
}
.left_nav li.on {
	background: url(../images/jlzx_con_23.png) no-repeat 273px 13px;
}
.left_nav li.on a {
	color: #318ddc;
}
.left_nav li a.jlzx {
	background: url(../images/jlzx_con_17.png) no-repeat 4px -1px;
}
.left_nav li.on a.jlzx {
	background: url(../images/jlzx_con_20.png) no-repeat 4px -1px;
}
.left_nav li a.skgw {
	background: url(../images/jlzx_con_31.png) no-repeat 4px 1px;
}
.left_nav li.on a.skgw {
	background: url(../images/jlzx_con_34.png) no-repeat 4px 0px;
}
.left_nav li a.wdsc {
	background: url(../images/jlzx_con_41.png) no-repeat 4px -5px;
}
.left_nav li.on a.wdsc {
	background: url(../images/jlzx_con_39.png) no-repeat 4px -5px;
}
.left_nav li a.wdsq {
	background: url(../images/jlzx_con_45.png) no-repeat 5px -2px;
}
.left_nav li.on a.wdsq {
	background: url(../images/jlzx_con_14.png) no-repeat 5px -2px;
}
.left_fix {
	position: fixed;
	z-index: 9;
	top: 0px;
}
.btn_yljl {
	display: block;
	margin: 30px auto;
	width: 150px;
	height: 30px;
	border: 1px solid #0b57c3;
	color: #0b57c3;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
}
.btn_yljl:hover {
	background: #0b57c3;
	color: #fff;
}
.con_right {
	width: 845px;
	background: #fff;
	min-height: 659px!important;
}
.er_tit {
	height: 46px;
	line-height: 46px;
	background: #f5f6f8;
}
.er_tit span {
	float: left;
	display: block;
	height: 100%;
	border-left: 3px solid #318ddc;
	font-size: 20px;
	color: #318ddc;
	padding-left: 10px;
	font-weight: 900;
}
.er_tit .er_tit_a {
	float: right;
	display: block;
}
.er_tit .jlzx_cjjl {
	font-size: 16px;
	color: #e69103;
	padding-left: 30px;
	padding-right: 15px;
	background: url(../images/jlzx_con_06.png) no-repeat left;
}
.er_tit .jlzx_jlzx {
	font-size: 16px;
	color: #e69103;
	padding-left: 30px;
	padding-right: 15px;
	background: url(../images/jlzx_con_07.png) no-repeat left;
}
.jlzx_table {
	width: 100%;
	margin: 20px 0px;
}
.jlzx_table thead th {
	background: #f6f4f4;
	color: #666;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	width: 33%;
}
.jlzx_table tr td {
	text-align: center;
	font-size: 16px;
	color: #333;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #f1f1f1;
	width: 33%;
}
.jlzx_table tr td select {
	border: 0px;
	font-size: 16px;
	color: #333;
}
.jlzx_table tr td select option {
	text-align: right;
}
.jlzx_table tr td .btn_a {
	margin: 0px 10px;
}
.jlzx_table tr td .btn_a img {
	margin-right: 6px;
}
.btn_bj {
	color: #318ddc;
}
.btn_sc {
	color: #909090;
}
.btn_sc img {
	color: #909090;
}
.abox, .cbox {
/*	display: none;*/
}
.layer_back_drop_class {
	filter: alpha(opacity=70);
	opacity: 0.7;
	background: #000000 none repeat scroll 0 0;
}
.tab_dzdiv table tr {
	display: none;
}
.tab_hytable table tr {
	display: none;
}
.zn_table table tr {
/*	display:none;*/
}
/*谁看过我*/
.skgw_div {
	width: 96%;
	margin: 20px auto;
}
.skgw_div .list1 {
	border-bottom: 1px solid #ccc;
}
.skgw_div .list1 h4 {
	height: 45px;
	line-height: 45px;
}
.skgw_div .list1 h4 .zw_tit {
	font-size: 17px;
	font-weight: 900;
	color: #333;
}
.skgw_div .list1 h4 .gs_tit {
	font-size: 16px;
	color: #333;
}
.skgw_div .list1 h5 {
	height: 20px;
	line-height: 20px;
}
.skgw_div .list1 h5 b {
	font-size: 17px;
	margin-right: 15px;
}
.skgw_div .list1 h5 .z_tit {
	font-size: 16px;
	color: #343434;
}
.skgw_div .list1 p {
	height: 45px;
	line-height: 45px;
}
.skgw_div .list1 p .rq_tit {
	font-size: 15px;
	color: #999;
}
.skgw_div .list1 p .btn_tit a {
	margin: 0px 5px;
}
.sczw_btn {
	padding: 3px 5px;
	border-radius: 4px;
}
.sczw_btn:hover {
	outline: 1px solid #ee9c12;
}
.sqzw_btn {
	background: #f19804;
	color: #fff;
	letter-spacing: 1px;
	padding: 3px 5px;
	border-radius: 4px;
	font-size: 14px;
}
.sqzw_btn:hover {
	background: #cc8511;
}
/*我的收藏*/
.wdsc_table {
	text-align: center;
	width: 100%;
	margin: 20px 0px;
}
.wdsc_table thead th {
	background: #f6f4f4;
	color: #666;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}
.wdsc_table tr td {
	text-align: center;
	font-size: 16px;
	color: #333;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #f1f1f1;
}
.wdsc_table .sqzw_btn {
	margin-right: 10px;
}
/*我的申请*/
.list2 {
	height: 90px;
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
}
.list2 .list2_fl {
	width: 600px;
	padding: 10px 0px;
}
.list2 .list2_fl h4 {
	height: 45px;
	line-height: 45px;
}
.list2 h4 .zw_tit {
	font-size: 17px;
	font-weight: 900;
	color: #333;
	margin-right: 10px;
}
.list2 h4 .rq_tit {
	font-size: 16px;
	color: #999;
}
.list2 h5 .gs_tit {
	font-size: 16px;
	color: #333;
}
.list2 h5 .rq_tit {
	font-size: 16px;
	color: #999;
}
.list2 .list2_fr {
	width: 200px;
	padding: 10px 0px;
	border-left: 1px solid #e8e2e2;
	text-align: center;
}
.list2 .list2_fr img {
	display: block;
	margin: 10px auto 10px auto;
}
/*公司详情*/
.er_div {
	background: #fff;
	margin-bottom: 15px;
}
.erdiv_fl {
	padding: 20px 30px;
	width: 860px;
	height: 113px;
}
.erdiv_fl h2 {
	font-size: 20px;
	font-weight: 900;
	height: 55px;
	line-height: 55px;
}
.erdiv_fl span {
	font-size: 16px;
	height: 45px;
	line-height: 45px;
}
.erdiv_fl .fl_span span {
	padding: 5px 8px;
	background: #eaeaea;
	font-size: 13px;
	color: #666;
	margin-right: 8px;
}
.erdiv_fr {
	padding: 20px 30px;
	width: 200px;
	background: #f7f7f7;
	height: 113px;
	text-align: center;
}
.erdiv_fr h2 {
	font-size: 32px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.erdiv_fr span {
	font-size: 20px;
	color: #318ddc;
	font-weight: 900;
}
.gsxx_div {
	padding: 15px 30px;
}
.gsxx_tit {
	padding: 15px 0px 15px 0px;
	font-size: 18px;
	color: #318ddc;
	font-weight: 900;
}
.gsxx_div p {
	padding: 5px 0px;
	line-height: 25px;
}
.list3 {
	border-bottom: 1px solid #ccc;
	padding: 0px 0px;
	position: relative;
}
.list3 h4 {
	height: 45px;
	line-height: 45px;
}
.list3 h4 .zw_tit {
	font-size: 17px;
	font-weight: 900;
	color: #333;
}
.list3 h4 .gs_tit {
	font-size: 16px;
	color: #333;
}
.list3 h5 {
	height: 20px;
	line-height: 20px;
}
.list3 h5 b {
	font-size: 17px;
	margin-right: 15px;
}
.list3 h5 .z_tit {
	font-size: 16px;
	color: #343434;
}
.list3 p {
	height: 45px;
	line-height: 45px;
}
.list3 p .rq_tit {
	font-size: 15px;
	color: #999;
}
.list3 p .btn_tit a {
	margin: 0px 5px;
}
.gsxx_btn {
	background: #fff;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 210px;
	height: 70px;
	padding-top: 27px;
	display: none;
}
.gsxx_btn a {
	margin: 0px 8px;
}
.list3 .fl_span span {
	font-size: 16px;
	height: 45px;
	line-height: 45px;
}
.list3 .fl_span span {
	padding: 5px 8px;
	background: #eaeaea;
	font-size: 13px;
	color: #666;
	margin-right: 8px;
}
/*注册*/
.header2 {
	height: 105px;
	border-bottom: 5px solid #318ddc;
	background: #f7f7f7;
}
.header2 .logo {
	margin-left: 22%;
	margin-top: 21px;
}
.header2 .head_txt {
	margin-right: 8%;
}
.header2 .head_txt h5 {
	margin-top: 27px;
	font-size: 16px;
	color: #303030;
	text-align: right;
}
.header2 .head_txt p {
	margin-top: 10px;
	font-size: 14px;
	color: #303030;
	text-align: right;
}
.content {
	background: url(../images/sy_dz_zc.png) no-repeat center;
	width: 875px;
	height: 532px;
	margin: 63px auto;
}
.footer {
	background: url(../images/sy_dz_06.png) repeat-x;
	height: 45px;
	width: 100%;
	text-align: center;
	padding: 50px 0px;
	line-height: 25px;
	font-size: 16px;
	color: #333;
	overflow: hidden;
}
.content h1 {
	text-align: center;
	height: 70px;
	line-height: 90px;
	letter-spacing: 4px;
	font-size: 28px;
	font-weight: 900;
	color: #333;
}
.con_form {
	width: 612px;
	margin: 50px auto;
}
.con_form .line {
	height: 50px;
	line-height: 50px;
}
.con_form .line span {
	font-size: 16px;
	color: #333;
	text-align: right;
	width: 120px;
	display: block;
	float: left;
	font-weight: 900;
	margin-right: 10px;
	letter-spacing: 2px;
}
.con_form .line input {
	font-size: 16px;
	color: #333;
	text-align: left;
	width: 400px;
	display: block;
	float: left;
	padding: 0px 15px;
	border: 1px solid #ccc;
	/*	outline:  1px solid #318ddc;*/
	height: 35px;
	line-height: 35px;
	margin-top: 7px;
	 *font-size: 14px;
}
.con_form .line input::placeholder {
 color: #999;
 font-size: 14px;
 *font-size: 14px;
}
.con_form .line i {
	display: block;
	float: left;
	margin: 15px 12px;
	width: 19px;
	height: 13px;
}
.con_form .line i.i1 {
	background: url(../images/sy_dz_03.png) no-repeat center;
}
.con_form .line i.i2 {
	background: url(../images/sy_dz_02.png) no-repeat center;
}
.con_form .line i.i3 {
	background: url(../images/sy_dz_04.png) no-repeat center;
}
.con_form .line .img_yzm {
	width: 170px;
	height: 35px;
	background: #C6C6C6;
	float: left;
	margin-right: 20px;
	margin-top: 8px;
}
.con_form .line .inp_yzm {
	width: 210px;
	float: left;
}
.con_form .line input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin: 17px 10px 10px 0px;
}
.con_form .line a {
	color: #0c68b8;
}
.qr_btn {
	width: 300px;
	height: 40px;
	line-height: 40px;
	letter-spacing: 4px;
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	background: #318ddc;
	border-radius: 2px;
	display: block;
	margin: 40px auto 15px auto;
	text-align: center;
}
.qr_btn:hover {
	background: #176db7;
	outline: 1px solid #053258;
}
/*找回密码*/
.content2 {
	width: 840px;
	height: 440px;
	background: #f7f7f7;
	border-radius: 5px;
	border-top: 8px solid #117edc;
	margin: 105px auto;
	box-shadow: 3px 5px 18px #333;
}
.lr_step {
	width: 760px;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	color: #666;
	margin: 0 auto;
	padding: 40px 0;
	background: url(../images/sy_dz_07.png) center no-repeat
}
.lr_step li {
	float: left;
	padding-left: 110px
}
.lr_step li.on {
	color: #fff;
}
.lr_step .step1 {
	width: 152px
}
.lr_step .step2 {
	width: 156px;
	margin-left: -15px
}
.lr_step .step3 {
	width: 152px;
	margin-left: -15px
}
.lr_step .step1.on {
	background: url(../images/sy_dz_08.png) no-repeat
}
.lr_step .step2.on {
	background: url(../images/sy_dz_09.png) no-repeat
}
.lr_step .step3.on {
	background: url(../images/sy_dz_10.png) no-repeat
}
.con_form2 {
	margin: 0px auto;
}
.con_form2 h4 {
	font-size: 16px;
	font-weight: 900;
	padding-left: 40px;
	color: #333;
	margin-bottom: 30px;
}
.con_form2 .fhdl_a {
	color: #2f2e2e;
	font-size: 16px;
	text-align: center;
	display: block;
}
.con_form2 h5 {
	font-size: 16px;
	color: #333;
	font-weight: 900;
	margin-bottom: 40px;
}
.con_form2 h6 {
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}
.con_form2 .line2 {
	height: 80px;
}
.con_form2 .line p {
	font-size: 16px;
	color: #333;
	height: 30px;
	line-height: 30px;
	font-weight: 900;
}
.con_form2 .line .yx_yz {
	width: 260px;
}
.con_form2 .line .yx_fs {
	width: 120px;
	border-radius: 1px;
	margin-left: 20px;
	border: 1px solid #117edc;
	color: #117edc;
	text-align: center;
	background: #fff;
	cursor: pointer;
}
.con_form2 .line .yx_fs:hover {
	color: #fff;
	background: #117edc;
}
/*弹出层样式*/
.layer_class {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -253px;
	background: #fff;
	display: none;
	z-index: 1000;
	width: 953px;
	height: 507px;
}
#base_area_layer {
	width: 953px;
	margin-left: -480px;
}
#int_expectindustry_multiple_under_layer_id {
	width: 858px;
	margin-left: -426px;
}
#work_func_layer {
	width: 858px;
	margin-left: -426px;
}
/*遮盖层样式*/
#layer_back_drop {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	display: none;
}
/*企业中心*/
/*发布职位管理*/
.left_nav li a.qyxxgl {
	background: url(../images/qyzx_icon_10.png) no-repeat 4px 0px;
}
.left_nav li.on a.qyxxgl,.left_nav li:hover a.qyxxgl {
	background: url(../images/qyzx_icon_07.png) no-repeat 4px 0px;
}
.left_nav li a.fbzwgl {
	background: url(../images/qyzx_icon_18.png) no-repeat 2px 0px;
}
.left_nav li.on a.fbzwgl,.left_nav li:hover a.fbzwgl {
	background: url(../images/qyzx_icon_15.png) no-repeat 2px 0px;
}
.left_nav li a.yprcgl {
	background: url(../images/qyzx_icon_26.png) no-repeat 2px 0px;
}
.left_nav li.on a.yprcgl,.left_nav li:hover a.yprcgl {
	background: url(../images/qyzx_icon_23.png) no-repeat 2px 0px;
}
.left_nav li a.lwpqfw {
	background: url(../images/lwpqfw.png) no-repeat 2px 0px;
}
.left_nav li.on a.lwpqfw,.left_nav li:hover a.lwpqfw {
	background: url(../images/lwpqfw2.png) no-repeat 2px 0px;
}
.left_nav li a.ldryrsdafw {
	background: url(../images/ldryrsdafw.png) no-repeat 2px 0px;
}
.left_nav li.on a.ldryrsdafw,.left_nav li:hover a.ldryrsdafw {
	background: url(../images/ldryrsdafw2.png) no-repeat 2px 0px;
}
.left_nav li a.rccpfw {
	background: url(../images/rccpfw.png) no-repeat 2px 0px;
}
.left_nav li.on a.rccpfw,.left_nav li:hover a.rccpfw {
	background: url(../images/rccpfw2.png) no-repeat 2px 0px;
}
.left_nav li a.rczpfw {
	background: url(../images/rczpfw.png) no-repeat 2px 0px;
}
.left_nav li.on a.rczpfw,.left_nav li:hover a.rczpfw {
	background: url(../images/rczpfw2.png) no-repeat 2px 0px;
}
.left_nav li a.rlzyglzxfw {
	background: url(../images/rlzyglzxfw.png) no-repeat 2px 0px;
}
.left_nav li.on a.rlzyglzxfw,.left_nav li:hover a.rlzyglzxfw {
	background: url(../images/rlzyglzxfw2.png) no-repeat 2px 0px;
}
.left_nav li a.rlzyhshbzswdl {
	background: url(../images/rlzyhshbzswdl.png) no-repeat 2px 0px;
}
.left_nav li.on a.rlzyhshbzswdl,.left_nav li:hover a.rlzyhshbzswdl {
	background: url(../images/rlzyhshbzswdl2.png) no-repeat 2px 0px;
}
.left_nav li a.rlzypxfw {
	background: url(../images/rlzypxfw.png) no-repeat 2px 0px;
}
.left_nav li.on a.rlzypxfw,.left_nav li:hover a.rlzypxfw {
	background: url(../images/rlzypxfw2.png) no-repeat 2px 0px;
}
.left_nav li a.rlzywbfw {
	background: url(../images/rlzywbfw.png) no-repeat 2px 0px;
}
.left_nav li.on a.rlzywbfw,.left_nav li:hover a.rlzywbfw {
	background: url(../images/rlzywbfw2.png) no-repeat 2px 0px;
}
.left_nav li:hover a {
    color: #318ddc;
}
.er_tit .qyzx_xzgw {
	font-size: 16px;
	color: #308cdb;
	padding-left: 30px;
	padding-right: 15px;
	background: url(../images/qyzx_icon_03.png) no-repeat 4px 10px;
}
.qygl_con {
	width: 96%;
	margin: 15px auto;
	*padding-bottom: 40px;
}
.con_tit {
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 30px;
}
.con_tit span {
	padding: 8px 15px;
	font-size: 16px;
	color: #333;
	height: 30px;
	cursor: pointer;
}
.con_tit span.on {
	border-bottom: 2px solid #1061a6;
	color: #318ddc;
}
.con_table {
	width: 100%;
	margin: 20px 0px;
	display: none;
}
.tab_table1, .tab_table2 {
	display: none;
}
.con_table thead th {
	background: #f2f7ff;
	color: #666;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}
.con_table tr td {
	text-align: center;
	font-size: 16px;
	color: #333;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #f1f1f1;
}
.con_table tr td .btn_a {
	margin: 0px 5px;
	display: inline-block;
}
.con_table tr td .btn_a img {
	margin-right: 2px;
	display: block;
	float: left;
	margin-top: 12px;
}
/*企业信息管理*/
.qy_img {
	width: 204px;
	height: 196px;
	border: 1px solid #ccc;
	background: #f4f4f4;
}
.qy_txt {
	width: 585px;
	position: relative;
}
.qy_txt h1 {
	font-size: 24px;
	color: #333;
	text-align: left;
	height: 40px;
	line-height: 40px;
}
.qy_txt .qy_yx {
	font-size: 16px;
	text-align: left;
	height: 25px;
	line-height: 25px;
	color: #4b4b4b;
}
.qy_txt .qy_yyzz {
	font-size: 16px;
	text-align: left;
	color: #4b4b4b;
	height: 27px;
	line-height: 27px;
}
.qy_txt .qy_yyzz u {
	margin-left: 10px;
	text-decoration: none;
	font-size: 14px;/*	cursor: pointer;*/
}
.qy_txt .qy_yyzz i {
	margin-right: 15px;
}
.qy_txt .qy_yyzz span {
	margin-right: 15px;
	padding: 3px 8px;
	background: #f0f0f0;
	color: #505050;
	font-size: 14px;
}
.qy_txt .qy_yyzz img {
	margin: 0px 5px 0px 0px;
}
.qy_xgzl {
	position: absolute;
	top: 4px;
	right: 20px;
	border: 1px solid #318ddc;
	color: #318ddc;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
}
.qy_xgzl:hover {
	background: #e8f1ff;
}
.qy_xgzl img {
	margin-right: 8px;
}
.qy_jj {
	margin-top: 25px;
	line-height: 35px;
	color: #333;
	font-size: 16px;
}
.btn_ssrc {
	display: block;
	margin: 30px auto;
	width: 150px;
	height: 30px;
	border: 1px solid #1a7bce;
	color: #1a7bce;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
	background: url(../images/qyzx_icon_31.png) no-repeat 16px 6px;
}
.btn_ssrc:hover {
	color: #fff;
	border: 1px solid #1a7bce;
	background: #1a7bce url(../images/qyzx_icon_32.png) no-repeat 16px 6px;
}
/*企业信息修改  面包屑导航*/
.qygl_con .mbx_nav {
	width: 825px;
    margin: 10px auto;
    background: #e6e5e5;
    position: relative;
	cursor: pointer;
}
.qygl_con ul {
	height: 35px;
	overflow: hidden;
	margin: 0px auto;
/*	background: #fff;*/
}
.qygl_con .mbx_nav li {
	float: left;
	width: 275px;
	text-align: center;
	position: relative;
	z-index: 2;
	font-size: 16px;
	line-height: 35px;
	letter-spacing: 2px;
/*	background: #e6e5e5;*/
}
.qygl_con .mbx_nav li a{
	color: #333;
}
.qygl_con .mbx_nav li em {
	position: absolute;
	right: -24px;
	top: -8px;
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 24px 1px 25px 25px;
	border-color: transparent transparent transparent #fff;
	border-style: dashed dashed dashed solid;
}
.qygl_con .mbx_nav li i {
	position: absolute;
	right: -16px;
	top: 0;
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 16px 0px 19px 19px;;
	border-color: transparent transparent transparent #e6e5e5;
	border-style: dashed dashed dashed solid;
}
.qygl_con .mbx_nav li.current {
	background: #318ddc;
	color: #fff;
	z-index: 1;
}
.qygl_con .mbx_nav li.current a{
	color: #fff;
}
.qygl_con .mbx_nav li.current i {
	border-color: transparent transparent transparent #318ddc;
}


.jbxx_table{
	width: 956px;
	margin: 20px auto;
	font-size: 16px;
}
.jbxx_table .td_tit{
	text-align: left;
	/*	width: 165px;*/
	line-height: 30px;
}
.jbxx_table td input{
	width: 170px;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
}
.jbxx_table td select{
	width: 412px;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	background: url(../images/cjjl_49.png) 390px 11px no-repeat;
	    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.jbxx_table td .xx_logo{
	display:block;
	width:200px;
	height: 240px;
	border:1px dashed #ccc;
	text-align: center;
	line-height: 240px;
	font-size: 22px;
/*	font-weight: 900;*/
	color: #0764B1;
	letter-spacing: 4px;
}
.jbxx_table td textarea{
	width: 400px;
	border: 1px solid #ccc;
	min-height: 150px;
	line-height: 30px;
	padding: 0px 5px;
	resize: none;
}
.jbxx_table td label{
	margin-right: 8px;
	font-size: 15px;
}
.jbxx_table td input[type=checkbox]{
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.jbxx_table td input[type=radio]{
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

.jbxx_table td  .txt {
    position: relative;
	width: 412px;
}
.jbxx_table td  .ic {
    position: absolute;
    width: 36px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #00457d;
    text-align: center;
    top: 5px;
	cursor: pointer;
    right: 0;
    border-left: 1px solid #ddd;
	background: url(../images/form.png) -36px 2px no-repeat;
}
.jbxx_table2 td textarea{
	width: 347px;
}
.jbxx_table2{
	width: 500px;
	margin: 20px auto;
	font-size: 16px;
}
.jbxx_table2 .td_tit{
	text-align: right;
	width: 170px;
	line-height: 50px;
}
.jbxx_table2 td .txt{
	width: 370px;
}
.jbxx_table2 td .ic{
	right: 8px;
}
.jbxx_table2 td input{
	width: 350px;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
}
.jbxx_table2 td select{
	width: 360px;
	height: 32px;
	line-height: 32px;
}

.jbxx_table3{
	width: 100%;
	margin: 20px
	auto;
	font-size: 16px;
}

.jbxx_table3 .td_tit{
	text-align: right;
	width: 80px;
	line-height: 50px;
}


.xx_lxfs{
	width: 755px;
	margin: 0px auto;
	color: #4e4e4e;
	font-size: 17px;
}

.xx_logotit{
	font-size: 15px;
	font-weight: 900;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.xx_logo2{
	width:304px;
	height: 296px;
	background: #f4f4f4;
	border: 1px solid #ccc;
	margin: 25px auto;
	text-align: center;
	line-height: 296px;
	font-size: 32px;
	font-weight: 900;
	color: #EBE7E7;
}
.xx_p {
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.xx_p .qr_btn{
	width:200px;
	display:inline-block;
	margin: 40px 40px;
}


/*新增职位*/
.er_div2{
	padding-top: 20px;
	background: #fff;
}
.xzzw_div{
	border:1px solid #ccc;
	background: #f8f8f9;
	width: 86%;
	padding: 2%;
	margin: 20px auto;
}
.xzzw_div legend{
	background: #fff;
	padding: 5px 15px;
	font-size: 18px;
	font-weight: 900;
	color: #333;
}
.stl_1{
	width:192px!important;
	float:left;
	margin-right: 15px;
	background: url(../images/cjjl_49.png) 170px 11px no-repeat!important;
}
.stl_1_1{
	width:90px!important;
	float:left;
	margin-right: 15px;
	background: url(../images/cjjl_49.png) 71px 11px no-repeat!important;
}
.sel_2{
	width:297px!important;
	float:left;
}

/*搜索简历*/
.sstj_div{
	border:1px solid #ccc;
	background: #f8f8f9;
	width: 90%;
	padding: 1% 2%;
	margin: 20px auto;
	height: 110px;
}
.sstj_div .line_div{
	width: 30%;
	float:left;
	margin: 1% 1%;
}
.sstj_div .line_div .tit_span{
	width: 80px;
	float:left;
	display: block;
	text-align: right;
	padding-right: 10px;
	height: 32px;
	line-height: 32px;
}
.sstj_div .line_div select{
	width: 228px;
	height: 32px;
	line-height: 32px;
	border:1px solid #ccc;
	background: #fff;
	padding: 0px 5px;
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background:#fff url(../images/cjjl_49.png) 205px 11px no-repeat;
}
.sstj_div .line_div input{
	width: 214px;
	height: 30px;
	line-height: 30px;
	border:1px solid #ccc;
	background: #fff;
	padding: 0px 5px;
}
.sstj_div .line_div input.ssjl_inp{
	width: 84px;
}
.sstj_div .line_div select.ssjl_sel{
	width: 93px;
	background:#fff url(../images/cjjl_49.png) 75px 11px no-repeat;
}
.sstj_div .line_div .txt {
    position: relative;

}
.sstj_div .line_div  .ic {
    position: absolute;
    width: 36px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #00457d;
    text-align: center;
    top: 5px;
    cursor: pointer;
    right: 0;
    border-left: 1px solid #ddd;
    background: url(../images/form.png) -36px 2px no-repeat;
}
.sx_btn{
	height: 45px;
    line-height: 45px;
    text-align: right;
    padding-right: 2%;
	margin-bottom: 15px;
}
.sx_btn a{
	padding: 5px 10px;
	margin: 0px 10px;
}
.sx_btn a.sxjl{
	color: #318ddc;
	border:1px solid #318ddc;
	border-radius: 5px;
}
.sx_btn a.sxjl img{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.sx_btn a.del_btn{
	color: #717171;
	border:1px solid #717171;
	border-radius: 5px;
}
.sx_btn a.del_btn img{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.ssjl_ul li{
	height:176px;
}
.ssjl_ul li h2{
	height:40px;
	line-height: 40px;
	background: #f2f7ff;
	padding: 0px 20px;
}
.ssjl_ul li h2 a{
	font-size: 16px;
	padding-right: 20px;
	color: #308cdb;
}
.ssjl_ul li h2 a.man{
	background: url(../images/qy_ssrc_03.png) no-repeat right;
}
.ssjl_ul li h2 a.woman{
	background: url(../images/qy_ssrc_11.png) no-repeat right;
}
.ssjl_ul li h2 span{
	font-size: 16px;
	color: #333;
	margin-left: 20px;
}
.ssjl_ul li h2 i{
	font-size: 16px;
	color: #333;
	margin-left: 20px;
}
.ssjl_ul li .qygr_img {
	height: 101px;
	padding: 15px 20px;
}
.ssjl_ul li .qygr_img .qyss_img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}
.ssjl_ul li .qygr_img .qyss_txt{
	width:500px;
}
.ssjl_ul li .qygr_img .qyss_txt p{
	font-size: 15px;
	line-height: 35px;
}
.ssjl_ul li .qygr_img .qyss_txt .qyss_xl p{
	font-size: 15px;
	line-height: 25px;
}
.ssjl_ul li .qygr_img .qyss_jl{
	width:510px;
	padding: 12px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	line-height: 30px;
	height: 60px;
	margin-top: 15px;
}

.img_list li{
	float: left;
	width: 31%;
	margin: 1%;
}
.img_list li a{
	display: block;
	width: 100%;
	height: 280px;
}
.img_list li a img{
	width: 100%;
	height: 100%;
}
.img_list li p a{
	height: 35px;
	line-height: 35px;
}

/*岗位详情*/
.erdiv_fr2{
	background: #fff;
	width: 255px;
	height: 200px;
}
.erdiv_fr2 .sqzw_btn{
	padding: 15px 65px;
	border-radius: 4px;
	font-size: 18px;
	margin-top: 45px;
	display: block;
	margin-right: 46px;
}
.erdiv_fr2 .sczw_btn{
	padding: 15px 54px;
	border-radius: 4px;
	font-size: 18px;
	margin-top: 9px;
	display: block;
	margin-right: 46px;
	border: 0px;
}



/*登录*/
.dl_div{
	padding: 30px 30px 30px 46px;
    width: 311px;
    height: 222px;
    border-right: 1px solid #ccc;
    margin: 82px 0px;
    float: left;
}
.con_form3{
	width: 400px;
    float: left;
    padding-left: 30px;
	padding-top: 55px;
}
.con_form3 .line span {
    width: 55px;
}
.con_form3 .line input {
    width: 260px;
}
.con_form3 .sy_wjmm{
	font-size: 14px;
    color: #1943C5;
    display: block;
    text-align: right;
    height: 25px;
    line-height: 25px;
    padding-right: 40px;
}
.con_form3 .sy_qzc{
	font-size: 14px;
    color: #a5a1a1;
    display: block;
    text-align: center;
    height:30px;
    line-height: 30px;
}

.zxbm_a{
	display: block;
	width:50%;
	margin: 20px auto;
	border-radius: 8px;
	background: #005CC5;
	color: #fff;
	text-align: center;
	font-size: 17px;
	font-weight: 900;
	height: 45px;
	line-height: 45px;
	padding: 3px;
}
.zxbm_a:hover{
	background: #053b91;
}


#printJS-table{
/*	width: 440px!important;*/
}

#printJS-table td{/*	width: 50px;*/padding: 5px;}

#printJS-table input{
	border:0px!important;
	/* width: auto!important; */
	font-size: 1rem;
}




