@charset "utf-8";
body{font-family:"宋体",arial;margin:0;padding:0;background:#fff;color:#000}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0}
li{list-style:none;list-style-position:outside}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}

/* 遮罩层 */
#maskLayer{position: absolute;left:0px;top:0px}
#alphadiv{position:absolute;background:#000;z-index: 2000}
#drag{position:absolute;background:#fff;z-index: 2001;width: 880px !important;border:1px solid #ccc;}
#drag_h{line-height:46px;
    height:46px;
    cursor: move;
    color: #333;
    background: #eee;
    border-top: 4px solid #318ddc;
    padding: 0 10px;font-size: 16px;
    font-weight: normal;}
#drag h3 b{float:left;font-weight: bold;
    letter-spacing: normal;}
#drag h3 span{font-weight:normal;float:right;cursor:pointer;font-size: 16px;}

#sublist{position:absolute;z-index:2100;background:#fff}
